[2021-05-12 00:15] ksanty opened #1 "Hugo template for the new site"
- [x] @nickelskevin please add @rocky to The @ Foundation GitHub site
- [x] @nickelskevin can you please add @intiserahmed to the Foundation site as well?
- [x] Start with research @rtilney @aannttoo
- [x] Template look and feel draft @aannttoo
- [x] Colors @rtilney

[2021-05-12 00:15] ksanty opened #2 "Hard to find FAQs & Code Snippets"

[2021-05-12 00:29] ksanty opened #4 "Content presentation IMPROVEMENTS"

[2021-05-12 00:41] ksanty opened #5 "AtSign 3.0"

[2021-05-12 17:14] cconstab opened #8 "Easy (for everyone) Ability to edit and preview edits before commit to website."

[2021-05-12 17:18] cconstab opened #9 "Up to date samples examples for everything"
- [ ] tied to releases in github

[2021-05-12 17:20] nickelskevin opened #10 "Policy and Process"
Short term scope - long term large task
- [ ] define policy and process for atsign.dev @aannttoo @cpswan

[2021-05-12 17:22] cconstab opened #11 "Add search to site"
- [x]  keyword search for Google
- [x] @nickelskevin - we need to add Hakeem to the Foundation site
- [x] Add google to index site (next sprint?) @athandle
- [x] @nickelskevin please add Denise (Denise to let you know ID)

[2021-05-12 17:37] cconstab opened #12 "Dev/Ops stuff"
- [x]  create DNS for the site in wtf @cpswan
- [x]  automate builds @cpswan

[2021-05-12 17:38] cconstab opened #13 "Document how to add content to the site"
- [x]  document on the site how to add to the site @TylerTrott
- [x] Documentation should be on the site itself! @TylerTrott @aannttoo @cconstab

[2021-05-13 09:33] cpswan commented on #12
Using [devstaging.atsign.wtf](https://devstaging.atsign.wtf/)

[2021-05-13 09:33] #12 closed

[2021-05-14 20:16] ksanty commented on #10
Denise can you help with this? @cconstab are you able to help with this?

[2021-05-14 20:32] ksanty commented on #1
Jory, are you able to help with this?

[2021-05-14 20:48] rtilney commented on #1
Here are a few favorites for Hugo templates with a "docs" lean to them. These particular templates are documentation specific.

I believe we still have to add a frontend (home page), but there are a lot of creative was to accomplish this while having a developer feel.

1. https://themes.gohugo.io/hugo-geekdoc/ (Simple and clean, light and dark mode)
2. https://themes.gohugo.io/docsy/ (basic, tried

[2021-05-14 20:56] atsigndenise commented on #10
Yes.  I can help.  Does it make sense for me to start a google doc and bring in the Chris Article and the JDF Community Spec links.  And then, read and summarize them?  Please coach me on the initial tasks to get started.

[2021-05-15 09:37] athandle commented on #11
I am not sure what I have to do in this "Add google to index site (next sprint?)" . I don't have access to google accounts @ksanty

[2021-05-15 14:47] anthonyvprakash commented on #1
@rtilney  - I spent some time on the templates over the last couple of days, I agree with your list. Those are the best ones with the docs/dev feel to them - the github stars speak for them too.

Here are three additional ones to consider
1. https://themes.gohugo.io/hugo-theme-learn/
2. https://gethugothemes.com/products/godocs-hugo-documentation-theme/ ( this one is paid though!)
3. https://theme

[2021-05-15 17:49] ksanty commented on #11
Thanks @athandle I've brought in @nickelskevin to help expand and provide guidance.  We'll get back with you.

[2021-05-16 19:35] TylerTrott commented on #13
Current documentation on how to add content to the site can be found within two separate articles:
[Working With Hugo (Static Webpage Generator)](https://docs.google.com/document/d/11avhw72reiJdKP6ybzbTnG4kZwkDR5SMlK4nYBICXJ4/edit?usp=sharing)

[Contributing to an Open-Source GitHub Project](https://docs.google.com/document/d/1n0Dy6_tKVwwU2cFOuhF-ow--PLxPIqx3vObT52IJHYc/edit?usp=sharing)

Status o

[2021-05-16 21:44] rtilney commented on #1
@aannttoo This is a great list as well. The paid theme ([GoDocs](https://gethugothemes.com/products/godocs-hugo-documentation-theme/)) is interesting and could potentially have better support and documentation. It's also Netlify Pre-Configured which means that there is most likely a CMS component which is great for non-technical content that isn't related to docs or code.

[2021-05-17 08:48] cpswan commented on #10
@atsigndenise the **policy and process** we're concerned with here is how stuff gets from idea to published (and maintained) on the new atsign.dev site. So I'm not sure the JDF stuff has much bearing on the topic.

[2021-05-17 08:54] cpswan commented on #13
@TylerTrott it would be better to have the docs here in GitHub, or as part of the site itself (per second check box on the issue root)

[2021-05-17 16:03] atsigndenise commented on #10
Understood.  How can I help?  Shall we start a document on "how stuff gets from idea to published to maintained?"  I could interview you then start/write a doc to get if off the ground.  Or, I can do some independent research.  Please let me know what is best and how I can help.  I'm a quick study, I just need a little coaching.  I'm super interested in this effort.  Thanks, Denise

[2021-05-17 17:00] ksanty opened #17 "Review and Edit of @platform Training Handbook."
Jagan, Murali and Sameera are the requested reviewers and their names are mentioned in specific sections of the handbook.

[2021-05-17 17:02] ksanty commented on #17
We need a review and edit for accuracy on a draft Handbook/Training Doc on the @platform.

- [ ] https://docs.google.com/document/d/1qzbd2894_K7GITfkoFMuI7WfclmbEgoX1VlAoN7t7bY/edit

[2021-05-17 18:07] ksanty commented on #11
Technical key words @aannttoo
Pick the key words

[2021-05-17 18:10] ksanty commented on #10
@atsigndenise is research and will collaborate with @cpswan

[2021-05-17 18:14] ksanty commented on #8
Turns out this is a natural part of using Hugo

[2021-05-17 18:15] #8 closed

[2021-05-17 18:36] ksanty commented on #1
https://hugoranked.com

[2021-05-17 19:57] nickelskevin commented on #11
From the Docsy POC = we should consider both internal and external search.  For example:
- Google Customer Search Engine
- Algolia DocSearch
- Lunr internal site search
See [Site Search Options](https://www.docsy.dev/docs/adding-content/navigation/#site-search-options) for docsy for more details.

[2021-05-18 00:13] nickelskevin opened #19 "Hugo / docsy theme issue"
**Describe the bug**
The HugoBuild GitHub action fails when it runs content that uses the Docsy theme.
Some useful info can be found [here](https://github.com/kubernetes/contributor-site/issues/123)

**To Reproduce**
Steps to reproduce the behavior:
1. First I checked in some content to a new "poc" branch
2. Then I saw that the HugoBuild started, but failed
3. And then after investigating, discove

[2021-05-18 09:21] cpswan commented on #19
Wow, that's quite a theme.

Fixed by:

32669078a1c4b8eaa71cf8dab98fbb5cd9dc8fd1 - Docsy needs Hugo 0.75, we were on 0.74.3, now using 0.83.1
b8174e63fd04444febfd9f817c4496e07623b85a - Docsy needs recursive submodules
8d72d42a51e97f71327957091d7cb8aab40ebe76 - Action needs to setup node.js for postcss-cli
9490403be0521ee8309021231bd0dee5c778c925 - .gitignore for npm stuff to avoid clutter
814d0159c

[2021-05-18 09:21] #19 closed

[2021-05-18 10:49] cpswan commented on #8
Whilst people can see their local changes using `hugo server` we're still going to need to have a staging site where the team can review changes before we release to production.

[2021-05-19 00:04] aannttoo opened #21 "New sitemap"
Sitemap with structure of the different pages needed for the website. We can take the existing ones from the current site and add gaps that exist today

please add @denise to this task.  Keywords and sitemap are tied and I want to make sure we are optimizing.  I can take a lead role on this if you would like

[2021-05-19 15:41] aannttoo opened #25 "Customized New look and feel options for landing page based off of the Hugo themes"

[2021-05-19 16:25] ksanty opened #26 "Review and contribute to policy and process outline"
- [x] This pr12 dev sprint we would like dev and app dev teams to [review the outline](https://docs.google.com/document/d/1XSXgqIG7BDQUSxdrnyorCEzb6BJbB_l4Zb0Jp0ou1l4/edit) for contributing to open source, and start the process of contribution

- [x] Use Flutter as a template for open source dev site contributions (@kevin -- please add the link)

[2021-05-19 16:25] #10 closed

[2021-05-19 16:26] cconstab opened #27 "Port content from atsign.dev to atsign.dev 2.0"
- [ ]  Getting started
- [ ] dess
- [ ] Dart Docs
- [ ] Documentation
- [ ] Sample Apps
- [ ] tech Blog
- [ ] Community
- [ ] Dev  program
- [ ] New stuff

[2021-05-19 16:28] #1 closed

[2021-05-19 16:28] #13 closed

[2021-05-19 16:30] cconstab opened #28 "On Site search"

[2021-05-19 16:30] cconstab opened #29 "SEO"
- [ ] Pick terms to optimize

[2021-05-19 16:32] #11 closed

[2021-05-19 16:45] ksanty opened #30 "Decide on name and branding of site"
Both
AtSign.Dev
Developer.AtSign.com

[2021-05-19 17:11] ksanty commented on #29
https://docs.google.com/spreadsheets/d/1U4NhpvYiEsGAyCGOqKAAYZBRR9jetNNeok1jiRw8l98/edit#gid=1352330191

[2021-05-19 17:43] rtilney commented on #25
Are we confirmed with Docsy? This will be used as the basis for the design and layout.

[2021-05-19 17:52] nickelskevin commented on #26
as usual - the flutter team provides a good example to learn from:

https://github.com/flutter/website/blob/master/CONTRIBUTING.md

Note: this is the outline. tons of content underneath....

[2021-05-19 21:19] JoryDJD commented on #2
Added Jen Monroe to this card. She has not been attending the sprints but is directly associated with this program and should be included on the FAQ refinements. I would add Jen as a driver and myself as a reviewer.

[2021-05-19 21:41] jenmonroe commented on #2
@ksanty  Thanks! Is this feedback about these pages?
https://atsign.dev/devprogram.html
https://atsign.dev/commissions.html
https://atsign.dev/certification.html

Esther and I have written a lot more content that is intended to go live when the program is all ready (online contract, earnings dashboard).

[2021-05-19 21:54] JoryDJD commented on #2
This is a direct response to feedback we got from users around @dev. Some of the content may be ready to go and some may need to be developed. The to-do is to review the feedback, review what we have and where there are holes and determine plan for filling holes.

[2021-05-19 22:05] jenmonroe commented on #2
Thanks, @JoryDJD  This is the draft that Esther and I put together: https://docs.google.com/document/d/1W5TfjTol-0JxRRAEhEDH-2G8fOiis53GMdNQ08V1Dfo/edit?ts=602a7ca3

[2021-05-20 02:47] nickelskevin commented on #30
So - options currently are between atsign.dev and atplatform.dev.

Any others?

[2021-05-20 03:46] anthonyvprakash commented on #30
@atsigndenise  suggested atstack.dev

I also like at.dev ( but it says it was registered in 2019, was it one of ours? @cconstab )

[2021-05-20 03:53] anthonyvprakash commented on #21
[atsign 2.0 Proposed Sitemap.pdf](https://github.com/atsign-foundation/atsign.dev/files/6512761/atsign.2.0.Proposed.Sitemap.pdf)

[2021-05-20 10:23] cpswan commented on #21
@aannttoo it would be cool to have this in [Mermaid](https://mermaid-js.github.io/mermaid/#/) so that it's more dynamic. We can generate SVGs from the Mermaid markup (like on @cconstab [GitHub Profile](https://github.com/cconstab))

[2021-05-20 10:28] cpswan commented on #30
at.dev isn't ours

[code]

Whilst the registrar is Google the awsdns name servers suggest that it's a Google customer account.

[2021-05-20 13:07] anthonyvprakash commented on #21
Thanks @cpswan  - Will look into it today.

[2021-05-20 16:16] JoryDJD commented on #29
I've already started to go through Barbara's terms and highlighted some that look most promising to pursue. I'm glad to be on this task with Barbara, and I believe Denise has set up a meeting for us all to refine the list.

[2021-05-20 16:49] tinashe404 commented on #9
@TylerTrott @Intiserahmed I'll reach out on gchat so we can sync up on this

[2021-05-20 17:04] ksanty commented on #29
@JoryDJD thanks for the update!

[2021-05-21 02:32] nickelskevin opened #33 ""Edit this page" on Documentation gets a 404 error"
**Describe the bug**
The "Edit this page" on Documentation gets a 404 error. This is caused by a configuration for the "docs" template to point to "master", needs to be changed to "trunk"

**To Reproduce**
Steps to reproduce the behavior:
1. First I navigate to and page that uses the "docs"template (e.g. Documentation).
2. Then I click on "Edit this page" on the right side of the page/
3. And then

[2021-05-21 02:41] nickelskevin opened #34 "Sitemap needs to be consolidated (too many nav items)"
**Describe the bug**
The Sitemap needs to be consolidated or reorganized into subpages because it creates too many navigation  items

**To Reproduce**
Steps to reproduce the behavior:
1. First go to https://devstaging.atsign.wtf
2. Observe the top level nav
3. Notice too man items and overcrowded

**Expected behavior**
Should be clear and concise nav set.

**Screenshots**
<img width="1652" alt="Sc

[2021-05-21 02:45] atsigndenise commented on #34
Hi.  We had tentatively come up with this top level nav in our meeting yesterday.  It pretty much follows what Flutter does and consolidated other areas under these top level ones.  https://docs.google.com/spreadsheets/d/1lFNZ_4laqjGVQkvmP6JjX1A3fCeEwSC2Ean7Ii63WYs/edit#gid=0

[2021-05-21 02:48] atsigndenise commented on #34
There is a tentative site map as well showing the consolidation.  Anthony -- Can you share the sitemap?

[2021-05-21 02:57] nickelskevin commented on #34
You can see it in the [source tree](https://github.com/atsign-foundation/atsign.dev/tree/trunk/content/en) (note the subdirectories).

We can organize the page structure really easily once the nav and sitemap are reconciled.

[2021-05-21 02:59] nickelskevin commented on #34
Is it [this doc](https://docs.google.com/spreadsheets/d/1VSsAdkIkpKsiXqBdk4v8nQUrwDwiQsrzDFVrQOJCmVg/edit#gid=0)?

[2021-05-21 03:02] atsigndenise commented on #34
Found it:  https://drive.mindmup.com/map/1wwzyyhCrJd53F6cBDaLH442qLkIHi1_5

[2021-05-21 03:07] JoryDJD commented on #34
I've pasted the map here directly if that helps. Please note that the "Github" link is meant to me a small Github icon with a star in it, not the actual word, Github. The yellow tabs are the landing page links at the top.
![image](https://user-images.githubusercontent.com/73364927/119076211-033df080-b9a7-11eb-8226-b9467424b9e8.png)

[2021-05-21 04:02] nickelskevin commented on #34
Need to add Language selection to above, will check out how to move the Releases menu to the Documentation page.
Will removing GitHub cause accessibility issues?

[2021-05-21 04:04] nickelskevin commented on #34
I checked in some changes:

- Removed about page
- Changed Documentation title to Docs
- Removed release menu for now, will figure out how to add to Documentation page

[2021-05-21 19:35] JoryDJD commented on #2
@jenmonroe, @eskao654  thanks for the look! I've edited and made suggestions to include the new site map and tone. I've been looking at comparable dev sites and really like the simplicity. I think design constraints forced us to over-explain a lot. It reads very conversationally, which feels right for the commercial site, but less for the dev site. Let's take the redesign as an opportunity to stre

[2021-05-21 21:44] JoryDJD commented on #30
I am partial to naming the site @platform, and using @dev to refer to our developer-facing programs: @certification and @affiliates. I would also add a qualifier to @dev so it's clear in our navigation: @dev Program. I've tweaked in the site map to show how it would appear in nav hierarchy.  I'm adding the discussion of these options to our Marketing Sprint.

[2021-05-22 05:16] anthonyvprakash commented on #25
@rtilney  - that's the path we have been headed towards.

[2021-05-22 05:16] anthonyvprakash commented on #25
https://www.docsy.dev/docs/examples/  - these are some sites on Docsy. The customized websites list give us a good view of what can be done.

[2021-05-22 13:47] anthonyvprakash commented on #30
**New Options that we have to discuss :**
atplatform.dev or .io
atstack.dev or .io
atdev.io
or stay with the current one

(whichever we pick, we should probably get the .org or .foundation as well)

Please add others.

[2021-05-24 02:48] anthonyvprakash commented on #34
@nickelskevin  - can we close this one for now, am sure we will iterate more on the top menu as we progress further.

[2021-05-24 02:52] anthonyvprakash commented on #2
@eskao654  & @jenmonroe  - this task is about FAQs and Code Snippets. The attachment listed above talks more about the program, tools, etc.  We already have 3 articles which are good Q & A content that we put together for Paul Armstrong and Phillippe. That should be the starting point for this task.

[2021-05-24 15:39] anthonyvprakash commented on #28
@nickelskevin  - Given that you mentioned that Docsy search was already working, do we want @TylerTrott and @Intiserahmed to do any further work on this task?

[2021-05-24 20:06] ksanty commented on #30
Hi all!  I think Jory would like to poll the team on their preference.  @JoryDJD shall we create a Google form and send to the team for a vote?  I'm just not clear on what all the options are.

[2021-05-24 20:36] ksanty opened #36 "AtDev program site content"
Document includes commission program language as well.

- [ ] Priority 1 update [content 2 pages](https://docs.google.com/document/d/1W5TfjTol-0JxRRAEhEDH-2G8fOiis53GMdNQ08V1Dfo/edit?ts=602a7ca3) (currently being worked on by @jenmonroe)
- [ ] Exec team sign off on language once team completes
- [ ] Build content on staging @rtilney site so @athandle can work on contract piece once Rocky completes

[2021-05-24 22:31] ksanty commented on #25
@aannttoo what are next steps here? Thanks!

[2021-05-24 22:32] ksanty commented on #21
@aannttoo what are next steps?

[2021-05-24 22:33] rtilney commented on #21
@ksanty I'm working on a design and will share a draft this afternoon. I'm using the sitemap and staging site as a reference.

[2021-05-24 22:34] ksanty commented on #26
@cpswan @nickelskevin @cconstab @murali-shris @VJag @Sameeraja-Bharathula @aannttoo - please review the outline and provide input before Thursday am PST, IST and BST.

https://docs.google.com/document/d/1XSXgqIG7BDQUSxdrnyorCEzb6BJbB_l4Zb0Jp0ou1l4/edit

[2021-05-24 22:37] ksanty commented on #29
@tallent @JoryDJD looks like the spreadsheet is updated. What are next steps?

https://docs.google.com/spreadsheets/d/1U4NhpvYiEsGAyCGOqKAAYZBRR9jetNNeok1jiRw8l98/edit#gid=1792217737

[2021-05-24 22:37] ksanty commented on #28
@Intiserahmed @TylerTrott please provide and update.

[2021-05-24 22:39] ksanty commented on #2
@eskao654 I know you are working on this - can you please provide an update and next steps?  TY

[2021-05-24 22:39] ksanty commented on #9
@TylerTrott @Intiserahmed @tinashe404 please provide an update.  TY

[2021-05-24 22:40] ksanty commented on #21
TY!

[2021-05-24 22:45] tinashe404 commented on #9
@ksanty I started a document, listed all the samples/examples that we had on atsign.dev and we are checking if they are up to date or no longer relevant. This will be completed by Wednesday

[2021-05-24 22:47] ksanty commented on #9
Amazing.  TY!

[2021-05-24 23:23] anthonyvprakash commented on #25
I think we are mostly leaning towards using Docsy with some of our own customization. Will close this out tomorrow on the website call.

[2021-05-24 23:35] atsigndenise commented on #29
In the Thoughts and Insights Tab, the 5-6 keywords for the dev site and com site have been highlighted.
https://docs.google.com/spreadsheets/d/1U4NhpvYiEsGAyCGOqKAAYZBRR9jetNNeok1jiRw8l98/edit#gid=329975840

[2021-05-24 23:35] #29 closed

[2021-05-24 23:39] rtilney commented on #25
Hi all: Updated @platfom (formerly @dev) design draft based on "Docsy" theme and current sitemap. Contents TBD. https://xd.adobe.com/view/f8181f50-f288-4e59-99c5-b786dbfc5d66-ad4b/

[2021-05-24 23:46] atsigndenise commented on #26
As a follow on to the above, here are more specific directions.  This is an overview outline of what will become two different docs:  (1) dev site and API policies and process and (2) overview to source code and licenses.  At this point, I just need you to look at this three page doc and see what you think needs to be added or comment on what you think might be an issue.  I think if you take 15 mi

[2021-05-25 02:50] ksanty commented on #9
@tinashe404 please add the document here when ready.

[2021-05-25 03:35] TylerTrott commented on #9
https://docs.google.com/spreadsheets/d/1r-zgcWoTPPFrcS1ksC5UG6zZGwN1UnAlKFUzg2Ei3LI/edit?usp=sharing @ksanty

[2021-05-25 04:43] JoryDJD commented on #25
THanks, Rocky! We’ll review on the website call.

@jory

Jory Des Jardins
CMO
415.786.6126 | ***@***.*** ***@***.***>

 <https://atsign.com/>

[2021-05-25 06:45] eskao654 commented on #2
@ksanty, @tinashe404 and I are compiling the FAQs from the 3 articles to begin. We will choose the questions we feel are relevant and provide more recommendations based on the tickets that were logged over the past few months.

[2021-05-25 14:54] #33 closed

[2021-05-25 16:16] TylerTrott commented on #28
Kevin already implemented lunr.js as a way to search on the dev site. Lunr prevents needing to connect to an external server to search. Currently walking through steps of implementation of Algolia search and its potential benefits on atsign.dev @ksanty

[2021-05-25 17:30] anthonyvprakash commented on #34
Closing this issue after discussing with @nickelskevin

[2021-05-25 17:30] #34 closed

[2021-05-25 18:34] ksanty commented on #2
@eskao654 great!  Please make sure to look at the survey feedback.  :)

[2021-05-25 19:28] ksanty commented on #36
@athandle this has to do with the commission page development for AtDev. @JoryDJD and I listed this out yesterday by sequence, added to the backlog, so not a priority.  As we get closer and the prior tasks are done, @jenmonroe and @rtilney will work with you to form next steps.

[2021-05-26 19:48] JoryDJD commented on #30
Kim if you could set this up and send to the team I would be SO appreciative!

@jory

Jory Des Jardins
CMO
415.786.6126 | ***@***.*** ***@***.***>

 <https://atsign.com/>

[2021-05-26 23:41] aannttoo opened #38 "Integrate Rocky's design into Docsy WTF site"
Intiser to lead - Anthony and Tyler to support

Context: Take new assets, CSS files and designs and integrate with Docsy pages.

1. Homepage

- [x] Background
- [x] Github Button add
- [x] Customize button
- [x] Vertical Cards section
- [x] Horizontal Cards section
- [x] Divider
- [x] Video Embed
- [ ] Notification and announcement section

2. DocPage

- [x] Add search to doc page only
- [x] Custo

[2021-05-26 23:42] anthonyvprakash opened #39 "Explore Dark mode option on at least the main page"
May be an Intern project for the summer

[2021-05-26 23:43] aannttoo opened #40 "Docs Page - Left hand menu items and flow"
Anthony lead

[2021-05-26 23:44] aannttoo opened #41 "Landing page design for each of main category pages in the top menu"
Rocky Lead

XD Prototype: https://xd.adobe.com/view/f8181f50-f288-4e59-99c5-b786dbfc5d66-ad4b/

[2021-05-27 12:42] anthonyvprakash commented on #30
As of May 27, I have 9 responses - 55% voted to keep the URL as atsign.dev - rest voted for developer.atsign.com.

[2021-05-27 12:44] anthonyvprakash commented on #25
Rocky has a first iteration of the look and feel with which we will add to the WTF site.

[2021-05-27 12:44] #25 closed

[2021-05-27 12:45] anthonyvprakash commented on #21
We will roll with the version we have now. Future iterations can be made as needed.

[2021-05-27 12:45] #21 closed

[2021-05-27 13:25] aannttoo opened #43 "Landing pages design, content and messaging"
Hakeem Lead - Next Steps:
- [ ] Get review & inputs on [home page content](https://docs.google.com/document/d/1fPBDcBLJ1roSUSqCKKodEYZurk9okUZQnewjLnN5Elw/edit?ts=60b902ef)
- [ ] Import Content to new Docsy template
- [ ] Review above Docsy template with team
- [ ] https://github.com/atsign-foundation/atsign.dev/issues/43#issuecomment-854010663
- [ ] https://github.com/atsign-foundation/atsign.dev

[2021-05-27 13:46] #28 closed

[2021-05-27 15:59] tinashe404 commented on #2
https://docs.google.com/document/d/11hK3Ile-DKg4oPYKQUJWwm1o00k3czJ17BHGnkj_ezk/edit

[2021-05-27 16:16] #30 closed

[2021-05-27 16:25] #26 closed

[2021-05-27 16:28] #9 closed

[2021-05-27 16:28] eskao654 opened #44 "Create Full List of FAQs and Answers"
Tinashe Lead
We have a [document of FAQs](https://docs.google.com/document/d/11hK3Ile-DKg4oPYKQUJWwm1o00k3czJ17BHGnkj_ezk/edit) that we will continue to add to
[Feedback items](https://github.com/atsign-foundation/atsign.dev/issues/2) for reference

- [ ] Flutter page ready to go, need to figure out a way to integrate it to the Dev site ( @TylerTrott to work with @cpswan ) #241
- [x] [Identify cor

[2021-05-27 16:33] #17 closed

[2021-05-27 16:33] aannttoo opened #45 "Update Nomenclature on Pub.dev and other pages"
Tyler Lead:

Dependency on consolidating nomanclature docs

- [x] PR12.5 decide on which url's to migrate to new site - Refer to https://github.com/atsign-foundation/atsign.dev/issues/9
- [x] Update content on URL's (may fall to next sprint unless people can update real time as they are going through pages)

[2021-05-27 16:34] atsigndenise opened #46 "Open Source Policies & Processes"
Denise Lead

- [x] Resolve review comments @cpswan
- [x] Write section based on Flutter model @atsigndenise
- [x] Review/edit section
- [x] Determine Schedule for Completion @atsigndenise

[2021-05-27 16:43] rtilney commented on #41
- [ ] determine content for each page
- [ ] create designs/layouts for each page
- [ ] share designs with team/get feedback
- [ ] revise and finalize

[2021-05-28 08:34] cpswan commented on #38
@rtilney are you able to make a pull request for your theme customisations into this repo?

[2021-05-28 16:09] rtilney commented on #38
@cpswan I don't know the procedure for this. My designs are static XD files.

[2021-05-30 17:11] cpswan commented on #38
@rtilney - so the walkthrough we did a few days back was an XD mockup rather than a customised version of Docsy?

If that's the case then we have much more work to do than I thought when we were in the sprint planning, because somebody (who?) needs to implement the design as a customised Docsy theme.

[2021-05-30 19:51] rtilney commented on #38
@cpswan Correct. Sitemap, design, and implementation are all separate tasks. I can provide the assets. ie: hex codes, fonts, heading tags, icons, etc...and the static design reference.

[2021-05-31 16:38] Intiserahmed commented on #38
@rtilney Yeahh can you please share all the assets?

[2021-06-02 00:50] ksanty opened #49 "Whitepapers"
Utilize current content to redraft

[2021-06-02 20:28] #40 closed

[2021-06-03 01:51] hakeemawbrey commented on #43
https://docs.google.com/document/d/1fPBDcBLJ1roSUSqCKKodEYZurk9okUZQnewjLnN5Elw/edit?hl=en&forcehl=1

I have created this document for organization of the front page.

It contains existing content from our current dev site + more sections for our needs. Please add suggestions/edits

Next steps would be to import this content on to the new staging dev site, then edit the content and design again.

[2021-06-03 01:52] hakeemawbrey commented on #43
**Clear Needs for the dev site**
Reflected in Hakeem's homepage doc
- [ ] Salient features
- [ ] Differentiators
- [ ] Call to action
- [ ] App showcase etc

[2021-06-03 02:39] rtilney commented on #38
@Intiserahmed Here is the developer XD link. https://xd.adobe.com/view/f8181f50-f288-4e59-99c5-b786dbfc5d66-ad4b/

[2021-06-03 04:05] atsigndenise commented on #46
Deliverables for this week have been completed.  I did not have Esther review yet as I need to get further into the doc.  I'd like to get the Policies and Processes completed by June 15.

[2021-06-03 04:08] aannttoo opened #58 "Integrate Homepage Messaging with assets and copy into website."

[2021-06-03 04:10] aannttoo opened #59 "Identify sections under Docs that need new videos and content"
Tyler T to lead - support from Intiser and Anthony

[Tied to issue ](https://github.com/atsign-foundation/atsign.dev/issues/43)
Need developer team support for enhanced content on technology documentation (Pub.dev) @VJag @murali-shris

[2021-06-03 04:11] aannttoo opened #60 "Organize docs section with copy, code samples and examples"
Lead Anthony

Migration of content, dependent on Pub.dev gaps.  [Tied to Issue](https://github.com/atsign-foundation/atsign.dev/issues/59)
- [x] Complete framework and documentation for all sections under Functional Arch menu under Docs
- [x] On the Engg. stand ups point out to Dev teams about new issues that have been raised regarding missing documentation, examples and code

[2021-06-03 15:53] anthonyvprakash commented on #38
The latest on this - @Intiserahmed has done some of the styling changes but yet to integrate into the WTF site.

[2021-06-03 16:21] #41 closed

[2021-06-03 16:21] cpswan opened #63 "config.toml remove doks theme residue"
**Describe the bug**
[config.toml](https://github.com/atsign-foundation/atsign.dev/blob/trunk/config.toml) presently has this at the bottom, which is likely to cause trouble at some stage:

[code]

[2021-06-03 16:31] hakeemawbrey commented on #49
https://docs.google.com/document/d/17Q2HGAqD6WWPRbgdQUPex_Ps0sNJQqGMQo4gcOsPurM/edit?hl=en&forcehl=1#heading=h.z6ne0og04bp5

Whitepaper
From June 2020

[2021-06-03 16:34] hakeemawbrey commented on #43
Next Steps:

- [x] Get review & inputs on home page content
- [ ] Import Content to Adobe XD Mockup
- [ ] Review Mockup with team

[2021-06-03 17:12] ksanty commented on #43
@hakeemawbrey can you please add next steps for this task?

[2021-06-04 00:38] ksanty commented on #46
@atsigndenise  I removed the callout for @eskao654.  I think the whole team can help here, so it doesn't all fall on Esther.  She's pretty slammed right now. :)

[2021-06-04 00:39] ksanty commented on #38
@Intiserahmed can you please determine next steps and add to the issue card?  @aannttoo and I added context to the card for the team.  Thank you!

[2021-06-04 00:41] ksanty commented on #43
Can everyone review @hakeemawbrey homepage content doc and add notes please?  Thanks!

[2021-06-04 00:47] ksanty commented on #59
@TylerTrott can you outline next steps so the team has context and clarity around this issue?  @aannttoo mentioned its tied to issue #43 from a content perspective.  I tagged @murali-shris and @VJag.

[2021-06-04 00:53] ksanty commented on #45
@jenmonroe did I hear you mention you'd like to help on this task?  :)

[2021-06-04 00:53] ksanty commented on #60
@aannttoo who else would you recommend work on this task?

[2021-06-04 02:59] eskao654 commented on #43
https://docs.google.com/spreadsheets/d/1VSsAdkIkpKsiXqBdk4v8nQUrwDwiQsrzDFVrQOJCmVg/edit?usp=sharing list of all pages that will be on the dev site

[2021-06-04 03:58] athandle commented on #46
@ksanty I think you want to tag @atsigndenise

[2021-06-04 04:37] ksanty commented on #46
You're right!  :)

[2021-06-05 17:55] jenmonroe commented on #45
Sure I can help!

[2021-06-05 18:21] ksanty commented on #45
Ok cool, I'm going to take a stab at consolidating the 3 docs this weekend, so we have something ready for the Marketing sprint on Monday.

[2021-06-07 08:58] cpswan commented on #63
Closed by #65

[2021-06-07 08:58] #63 closed

[2021-06-07 13:14] Intiserahmed commented on #38
@ksanty sure done!

[2021-06-08 01:18] ksanty commented on #38
Fantastic!  Super helpful @Intiserahmed.  Thank you!

[2021-06-16 17:51] #45 closed

[2021-06-16 21:45] #38 closed

[2021-06-16 22:11] anthonyvprakash commented on #59
https://docs.google.com/spreadsheets/d/1r-zgcWoTPPFrcS1ksC5UG6zZGwN1UnAlKFUzg2Ei3LI/edit#gid=741364376

[2021-06-16 22:12] anthonyvprakash commented on #59
Next step is to work on content for all these gaps identified.

[2021-06-16 22:13] #59 closed

[2021-06-16 22:14] anthonyvprakash opened #80 "Work on missing documentation for verbs, samples and examples"
Anthony Lead

- [ ] Review dev's content

Work on new written [content for GAPS](https://docs.google.com/spreadsheets/d/1r-zgcWoTPPFrcS1ksC5UG6zZGwN1UnAlKFUzg2Ei3LI/edit#gid=741364376) identified

- [x]  @nickelskevin is going to start reviewing and updating where we have gaps in the [verb cookbook](https://docs.google.com/document/d/19A0g0AIJU3x2MiwgRgcguGmimrNLr03CdmZg0RdnU_Y/edit#heading=h.o9ky

[2021-06-16 22:17] aannttoo opened #81 "Add new Glossary section to Docs"
Anthony Lead

- [x]  Decided not to use a glossary section on the Docs - will cover all the keywords in the existing sections. Glossary will be heard to manage in the long run.

[2021-06-16 22:17] anthonyvprakash opened #82 "Identify new videos to be recorded"
- Get Started playlist on YouTube
- @verb/methods showcase

[2021-06-17 03:11] #46 closed

[2021-06-17 15:19] hakeemawbrey commented on #43
Update on website homepage content

- [x] I believe @Intiserahmed has successfully ported over into Hugo Rocky design template

- [x] Had content call meeting 6/8 regarding homepage content. Over all message everything needs to be simplified & adjusted based on our target audience

- [x]  Had successful jamboard 6/11 regarding narrowing dev target audience, need to narrow down more
https://jamboar

[2021-06-17 15:27] hakeemawbrey commented on #43
Next steps
- [ ] use new messaging based on target demo
**What is the @ platform**
https://docs.google.com/document/d/17PClBSTnaWJpBgsXEd8DaWD54wbi85QsRgGZSozJI7c/edit

- [ ] Set in stone the defining characteristics that are attractive to our target demo
- [ ] Implement @jenmonroe Dev program content
https://docs.google.com/document/d/143s3gOS9_dSJzEA0IU5aieZEIras0Wfuzn1DkcabO2c/edit
- [ ] Implem

[2021-06-17 15:47] ksanty opened #87 "AtSign.Dev Messaging - Homepage"
Hakeem Lead **- This is only regarding homepage content**

- [x] Everyone contribute to the [Dev messaging ](https://docs.google.com/document/d/1RYKgMZtujO21Mo5OrY9WxdvxvFbniPRpvM5RSwm78Os/edit)jamboard output (all)
- [x] Create single narrative based on above @eskao654
High level view of [the @ platform](https://docs.google.com/document/d/17PClBSTnaWJpBgsXEd8DaWD54wbi85QsRgGZSozJI7c/edit)
The fea

[2021-06-17 15:59] aannttoo opened #88 "Create assets corresponding to new messaging for Homepage"
Rocky Lead

@aannttoo  thinks we may need up to 6 new graphics for the homepage.

[2021-06-17 15:59] ksanty opened #89 "AtSign.Dev - Dev Program Design"
Jen Lead
Once done, Ashish will [complete this card](https://github.com/atsign-company/at_handle_registrar_web/issues/112)

- [x] [Content](https://docs.google.com/document/d/143s3gOS9_dSJzEA0IU5aieZEIras0Wfuzn1DkcabO2c/edit) placed on the new Hugo site

[2021-06-17 16:01] ksanty opened #90 "AtSign.Dev - Certification Program Offering"
Jen Lead

- [x] Placeholder content for launch
- [ ] Spell out on the Dev site (Rocky?)
- [x] Workflow certification completed (steps for someone to get certified)

[2021-06-17 16:09] #36 closed

[2021-06-17 16:09] #27 closed

[2021-06-19 14:23] #81 closed

[2021-06-19 14:23] anthonyvprakash commented on #81
Decided not to use a glossary section on the Docs - will cover all the keywords in the existing sections. Glossary will be heard to manage in the long run.

[2021-06-23 17:28] rtilney commented on #88
Staging: https://devstaging.atsign.wtf

- [ ] determine darker color for nav background (use reverse logo)
- [ ] home hero background image can be something more colorful (apps?)
- [ ] internal hero backgrounds

Graphics needed (Landing)

- [ ] No Infrastructure needed
- [ ] Privacy built-in by Default
- [ ] Super Quick Onboarding
- [ ] Hear from our Developer community
- [ ] Check out the apps bu

[2021-06-30 02:55] #60 closed

[2021-07-01 14:37] anthonyvprakash opened #110 "SEO Keywords inclusion across the site"
Barbara Lead

- [x] From the [master list of SEO](https://docs.google.com/spreadsheets/d/1U4NhpvYiEsGAyCGOqKAAYZBRR9jetNNeok1jiRw8l98/edit#gid=329975840) key words identified pick the ones that need to go into the new website
- [x] Include the keywords in the pages as appropriate

[2021-07-01 14:40] anthonyvprakash opened #111 "Copy/Content Edits across the site"
Workflow for review
- [x] Review current content on the [staging website ](http://devstaging.atsign.wtf/docs/get-started/) Keep [SEO terms in mind](https://docs.google.com/document/d/1VY1Ui7UQ1pt2dBjBxsjerfV8DZ-h15Z2D48yam4bnMw/edit#heading=h.wth6vxka6rux)
- [x] Raise PR requests for the suggested changes and edits
- [x] Approve and push directly to website

[2021-07-01 15:00] anthonyvprakash opened #112 "Complete Community Page with new design and content"
- [x] Integrate new design and content into the site @TylerTrott
- [x] @rtilney  to provide new design for the page

[2021-07-01 15:01] aannttoo opened #113 "Prep Github for Production Push"
- [x] Create new setup on Github for the incoming production instance of the 2.0 site
- [x] Testing as needed
- [x] Launch when ready

[2021-07-01 15:35] hakeemawbrey commented on #87
Esther's write up of the narrative
https://docs.google.com/document/d/18p_EzVTsn9oy8WJYirlSUl5jP8evMsN1k34rGt6kITU/edit

[2021-07-01 16:21] #87 closed

[2021-07-01 16:27] #88 closed

[2021-07-01 16:36] #113 closed

[2021-07-01 16:39] #43 closed

[2021-07-01 23:53] jenmonroe commented on #111
@ksanty  I'm happy to do as much of this as possible, or even all of it if you're busy. If we're both working on it, let's coordinate so we're not looking at the same stuff. Thanks!

[2021-07-02 00:35] ksanty commented on #111
Kim, I can do the homepage, the dev program, community, showcase and 'the rest of it', if you want to grab the Functional Architecture and Resources? Sound good?

![Picture1](https://user-images.githubusercontent.com/74563278/124203958-c0396780-da92-11eb-994a-9243f05691b2.png)

[2021-07-02 01:29] ksanty commented on #111
I am working on all pages under [Platform Architecture](http://devstaging.atsign.wtf/docs/functional_architecture/) and [Resources](http://devstaging.atsign.wtf/docs/resources/).  Will mark off as each page is finished here.  SEO is TBD.

- [x] [Platform Architecture homepage](http://devstaging.atsign.wtf/docs/functional_architecture/) - all links checked
- [x] [Services](http://devstaging.atsign.

[2021-07-02 22:14] ksanty opened #117 "Services"
The [persistence link](https://pub.dev/packages/at_contact) on the [services](http://devstaging.atsign.wtf/docs/functional_architecture/services/) page is linking to Pub Dev at_contact page.  I think is should be pointing to the persistence page instead?

[2021-07-02 22:58] ksanty opened #118 "Libraries"
@nickelskevin do you want to update the description on these pub dev libraries, so they are consistent with the rest?  The description formatting is inconsistent.

http://devstaging.atsign.wtf/docs/functional_architecture/libraries/

[2021-07-03 02:24] ksanty opened #120 "Libraries"
Hi @cpswan I think this page is pulling automatically from the Pub.Dev pages.  I found some inconsistencies in the usage of @sign (atsign) and @protocol (atprotocol).

For example look at at_contacts_flutter and at_chat_flutter vs at_backupkey_flutter.

I didn't want to update anything in case its auto updating.  Also want to confirm is this intentional or should it be updated?

I opened another t

[2021-07-03 03:15] ksanty opened #121 "Widgets"
**Under Learn More dropdown under The Onboarding Widget - not sure if this is an issue:**
- [ ] All of the parameters in the “Onboarding” widget can be populated very easily with either methods from the project’s service file (e.g. getAtClientPreference**()**)

**The Chatting Widget (word replacement?)**
- [ ] One of the many things you can do after successfully authenticating an @sign is providin

[2021-07-03 15:21] rtilney commented on #58
Pulling this back in so we can check off.

Staging: https://devstaging.atsign.wtf

- [x] determine darker color for nav background (use reverse logo)
- [ ] home hero background image can be something more colorful (apps?)
- [ ] internal hero backgrounds

Graphics needed (Landing)

- [x] No Infrastructure needed
- [x] Privacy built-in by Default
- [x] Super Quick Onboarding
- [ ] Hear from our Deve

[2021-07-05 13:59] cpswan commented on #120
It's not intentional. The descriptions need to be fixed in the various pubspec.yaml files, and then updates pushed to pub.dev, and then the libraries.md regenerated from what's on pub.dev.

Just like I did with the various at_tools READMEs, we probably need a bunch of issues raised to get the pubspec.yaml files straightened out.

[2021-07-05 22:07] ksanty commented on #120
Thanks @cpswan.  Kevin is going to read through them and identify the gaps.  I'm going to close this issue.  Please refer to issue #118.

[2021-07-05 22:07] #120 closed

[2021-07-05 23:18] jenmonroe opened #131 "Community Page update"
I don't see how to edit this text under "Join the community" on this page: https://devstaging.atsign.wtf/community/

It currently reads:
is an open source project that anyone in the community can use, improve, and enjoy. We'd love you to join us! Here's a few ways to find out what's happening and get involved.

I suggest we update to:
The @platform is an open-source project that anyone in the comm

[2021-07-06 00:05] jenmonroe opened #135 "Sample Apps"
The apps are all listed and described twice on this page, though the descriptions are different. We need to know which ones to remove. I put in a pr to modify the descriptions (condense and fix typos) for the first instances. Was going to grab the number, but you already merged, @TylerTrott  : )

If we want to use the descriptions that show up in the repeat list below, we can move them up the page

[2021-07-06 02:20] ksanty opened #136 "Widgets - Repo Updates"
@nickelskevin will review and update description on the [widgets repo on Github](https://github.com/atsign-foundation/at_widgets), so they are consistent and current.

Affects the following page on AtSign.Dev
http://devstaging.atsign.wtf/docs/functional_architecture/widgets/ - pulls directly from widgets repos.

[2021-07-06 03:40] ksanty opened #142 "Data Privacy - Broken Link"
For more information on how your application can create, update, or delete data, see the @Persistence Keystore Guide and the [@Protocol Verbs [link is broken]](http://devstaging.atsign.wtf/docs/resources/data-privacy-and-permissions/verbs)

And here:
For more information on how your application can create, update, or delete data, see the [@Persistence Keystore Guide](Persistence Keystore Guide) an

[2021-07-06 03:43] ksanty opened #143 "Persistence Keystore Guide - Missing Link"
For more information about getting your application certified, see the **Certification page [Link needs to be added]**

[2021-07-06 12:34] anthonyvprakash commented on #142
Fixed the link to point to the verbs page. Will be moved in the next PR.

[2021-07-06 12:42] anthonyvprakash commented on #143
Will be fixed in the next PR

[2021-07-06 16:03] #142 closed

[2021-07-06 16:03] TylerTrott commented on #142
Approved and merged

[2021-07-06 16:04] TylerTrott commented on #143
Approved and merged

[2021-07-06 16:04] #143 closed

[2021-07-07 19:09] tallent commented on #110
Here are [a list of suggestions](https://docs.google.com/document/d/1VY1Ui7UQ1pt2dBjBxsjerfV8DZ-h15Z2D48yam4bnMw/edit#heading=h.wth6vxka6rux) for review.

[2021-07-09 19:06] ksanty opened #152 "Hashnode doesn't allow spaces - Try Chris's fix for this."
@cpswan will this work so we don't have to use hyphens in Hashnode? https://emptycharacter.com

Article [here](https://blog.atsign.dev/advanced-customization-in-wavi-ckqvqunhi067hlls15jmb9cau)

<img width="887" alt="image" src="https://user-images.githubusercontent.com/74563278/125125225-2aaf6080-e0ae-11eb-9c42-e14e720a5765.png">

[2021-07-09 19:34] jenmonroe commented on #111
I've been working on the following sections:

- [x] Homepage
- [x] Showcase
- [ ] Community - Have edits but cannot access content to update
- [ ] @ dev program - Made edits where possible. All links need to be updated when other pages are ready. Also need to update @ Dev Program to @ dev Program, (but without the space) Filed here: https://github.com/atsign-foundation/atsign.dev/issues/155
- [ ]

[2021-07-09 20:02] jenmonroe opened #155 "Be part of our Developer Program"
Per the nomenclature doc the developer program should be "@dev Program" This needs to be fixed across the site but I can't access to make the change.

[2021-07-09 20:08] jenmonroe opened #156 "Tools"
Need to update this: If you need help adding a privacy policy to your apps built on the @platform,here is draft template for you to get started.  to add a space between "@platform, here"

[2021-07-14 05:23] 64jantuma opened #165 "Change DESS AWS guide from word document github content."
**Is this a request for Brand New Content?**
N

**If existing content, please link **
https://github.com/atsign-foundation/atsign.dev/tree/trunk/content/en/guides/dess-aws

**Where do you intend to use or post this content?**
News Article

**Who is the audience?**
Developers / Architects

**Additional context**
Update guide

[2021-07-14 05:23] 64jantuma commented on #165
I will be work on this topic.

[2021-07-15 15:26] anthonyvprakash opened #173 "Developer Preview/Testing from Interns"
- [x] Have a  few interns go through the new steps and give us feedback
- [x] review content across the site

[2021-07-15 15:28] anthonyvprakash opened #174 "Test Search on the website"
Start with internal

[2021-07-15 15:51] ksanty opened #175 "Move to production process"

[2021-07-15 16:15] ksanty opened #176 "Pub.dev repo review"
1st step look for things that are empty - [Kim's tracker](https://docs.google.com/spreadsheets/d/1uYDKFTKpBRObXcYUUOi7xheqhXIiJ9mLSaFPsNvHW5Y/edit#gid=0)

- [x] pubspec.yaml
- [x] changelog
- [x] readme.md
- [x] dartdocs (api docs)

[2021-07-15 16:18] ksanty opened #177 "Dockerhub content review"
Colin asked for the following to be done

- [x] secondary server
- [x] root server
- [x] dess server
- [x] virtual environment
- [x] shepherd

[2021-07-15 16:21] ksanty opened #178 "Getting started page migrated to different path"
What is the new flow?

- [x] Get your free @sign
- [x] Set up dess
- [x] Set up virtual environment

[2021-07-20 00:10] cconstab opened #195 "Instructions should include (I think) the way to include the submodule for docsy."
**Describe the bug**
When following the instructions in CONTRIBUTING.md the docsy submodule is not pulled down. Including the commands to pull down docsy and configure it might be useful.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow Instructions in CONTRIBUTING.md
2. The edit in the instructions is actually tough to do without hugo/docsy in place

**Expected behavior**
Pull the Doc

[2021-07-20 08:49] cpswan commented on #195
The answer is to use `--recursive` rather than `--recurse-submodules`

[2021-07-20 14:20] #195 closed

[2021-07-20 23:42] #152 closed

[2021-07-21 01:37] ksanty opened #212 "Log image links broken on Pub.Dev"
Discovered all [readme images](https://pub.dev/publishers/atsign.org/packages) are broken on Pub.Dev.  Quick fix is to add it to the new atsign.dev site repo (as per Kevin).

I pinged Tyler and Xavier but they may need you to show them @cpswan.

[2021-07-21 01:56] cconstab commented on #178
Completed and pushed to production atsign.dev

[2021-07-21 01:56] #178 closed

[2021-07-21 05:19] ksanty commented on #212
Fixed via #213

[2021-07-21 05:19] #212 closed

[2021-07-21 12:46] cpswan commented on #175
@anthonyvprakash what do you need here?

[2021-07-21 12:50] anthonyvprakash commented on #175
@cpswan  We can close this one. You got the process and the setup for us. I will close this out.

[2021-07-21 12:50] #175 closed

[2021-07-21 12:51] #112 closed

[2021-07-21 12:51] #110 closed

[2021-07-21 12:56] #111 closed

[2021-07-22 16:46] yahu1031 opened #222 "Unusual(#brbr) reference tag found in get-started Docs"
**Describe the bug**
I hope this is not a bug but just a correction. In [get-started docs](https://atsign.dev/docs/get-started) page, after the [where should I go next](https://atsign.dev/docs/get-started/#where-should-i-go-next) tag after the option 3 I found some empty tag with **#brbr** tag in URL.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [get-started](https://atsign.dev/

[2021-07-22 17:39] cpswan opened #223 "Edit this page links broken in staging"
**Describe the bug**
From @murali-shris:

https://github.com/atsign-foundation/devstaging.atsign.wtf/edit/trunk/content/en/docs/Functional_Architecture/libraries.md

**To Reproduce**
Steps to reproduce the behavior:
1. Browse to https://devstaging.atsign.wtf/docs/functional_architecture/libraries/
2. Click on "edit this page"

**Expected behavior**
Should link to this repo, but instead links to no

[2021-07-23 08:30] cpswan commented on #223
This is being cause by the pattern matching to `Set staging baseURL` being applied to other config parameters:

[code]

I'd fallen for the common misconception that missing the `g` parameter would only replace the first instance rather than globally :/

This can be fixed by having a more specific replacement:

[code]

[2021-07-23 10:34] #223 closed

[2021-07-24 22:11] #176 closed

[2021-07-24 22:14] ksanty commented on #176
New issue [#247](https://github.com/atsign-foundation/at_server/issues/247) opened on the Eng Dev sprint backlog, so we can plan how we want to handle updates across the team.

[2021-07-25 17:39] XavierChanth opened #226 "Add content about app development to getting started section"
**Is this a request for Brand New Content?**
Y

**If existing content, please link **
N/A

**Where do you intend to use or post this content?**
Developer sites

**Depth/Length of content**
The getting started section should also cover the basics of writing an app on the @‎platform.
For example:
- What are the core packages? (at_client, at_client_mobile, at_commons)
- What is onboarding, and how to

[2021-07-28 21:47] #174 closed

[2021-07-28 21:47] #80 closed

[2021-07-29 06:34] anthonyvprakash opened #236 "Promote the new atsign.dev across channels"

[2021-07-29 06:36] anthonyvprakash opened #237 "Ask the community for feedback on the new site. Go through the steps and see if it makes sense"

[2021-07-29 06:37] anthonyvprakash opened #238 "Put framework in place to convert this Sprint into a Developer Traction Focus."
Identify an overall plan with the following in mind:
- [x] Brainstorming session on Dev Traction
- [x] Metrics and Benchmarks
- [x] Strategy
- [x] Plan
- [x] Execution and Owners

[2021-07-29 14:15] cconstab opened #239 "Developer getting started page/pages"
The getting started as it stands focuses on infr and setup of the dev env not the code itself..

- [x] Using the skeleton demonstrate a simple app
- [x] Words (content creation)
- [x] Samples
- [x] Examples
- [x] Video - draft of script for runtime has been completed **PR21**

[2021-07-29 14:18] cconstab opened #240 "FAQ/Places where folks get stuck setting up Flutter/Dart needs to be on the site.."
This document needs to be added (confirmed that they still exist on Windows)

https://docs.google.com/document/d/1SWANgscH3UuVmKnUGMO9TNUbPB03k7i69r6s4JDg_X8/edit

Need not be in this format !

[2021-07-29 15:40] #90 closed

[2021-07-29 15:48] #173 closed

[2021-07-29 15:55] TylerTrott opened #241 "FAQ Page"
- [x] Integrate FAQs over to Markdown and implement their associated answers.
- [x] Please complete #241 as well as part of this card

[2021-07-29 16:00] hakeemawbrey commented on #236
- [ ] Social media kit for company to use to promote
- [ ] Schedule and plan for promotion for the next month

[2021-07-29 16:52] #44 closed

[2021-07-29 16:56] #131 closed

[2021-07-29 16:57] #135 closed

[2021-07-29 16:57] #155 closed

[2021-07-29 16:58] #156 closed

[2021-07-30 13:30] cpswan commented on #177
Also did at_buildimage, at_runimage, dartshowplatform and filebin2

[2021-07-30 13:30] #177 closed

[2021-08-05 18:01] yahu1031 opened #244 "Docker curl command not-working due to .yaml and .plist links are not found"
**Describe the bug**
While following the [virtual environment](https://atsign.dev/docs/get-started/the-virtual-environment) setup, the `virtualenv-compose-vip.yaml` file seems corrupted. When I try going to that [link](https://atsign.dev/curl/virtualenv-compose-vip.yaml) manually to check and I found 404 page. The Curl command writes the whole html page to `docker-compose.yaml` file.

**To Reprodu

[2021-08-09 15:30] xavierchanth commented on #165
Can this be closed now @64jantuma?

[2021-08-09 17:32] XavierChanth opened #245 "Fix Typos"
- [x] Showcase page - `@arrive` to `@rrive` -- I can't get to the right spot in the code to update this. I think we need @nickelskevin to help on this one, please.
  - Reviewed the taxonomy doc, it is correct as @‎arrive
- [x] ["It is **provably** true that The @ Company cannot access your private information without your explicit permission."](https://atsign.dev/docs/faqs/about/) @XavierChanth  C

[2021-08-09 17:57] XavierChanth commented on #245
- [ ] Showcase page - `@arrive` to `@rrive`
- [ ] ["It is **provably** true that The @ Company cannot access your private information without your explicit permission."](https://atsign.dev/docs/faqs/about/)

[2021-08-09 18:18] ksanty commented on #245
Hi @XavierChanth making sure you know about the [empty character](https://emptycharacter.com) tool we use after @ signs.

[2021-08-09 18:26] yahu1031 commented on #245
This too `at_virtual_enviroment` to `at_virtual_environment` [here](https://atsign.dev/docs/get-started/the-virtual-environment/#:~:text=Start%20up%20the%20at_virtual_enviroment)

[2021-08-09 18:27] xavierchanth commented on #245
Thanks :)

[2021-08-10 00:53] #244 closed

[2021-08-10 05:06] 64jantuma commented on #165
All done this can be closed.

[2021-08-10 05:06] #165 closed

[2021-08-18 18:58] ksanty opened #250 "@ buzz GA Release"

[2021-08-18 18:59] ksanty commented on #250
@VJag or @murali-shris can you please add an update here with regard to any blockers or major bugs still to be resolved? Also what is the status of the Apple store blocker? If you can include timing of resolving issues that would be great. TY

SDK release pending (Thursday 8/19 target)

[2021-08-18 19:10] ksanty opened #251 "@ wavi GA release"

[2021-08-18 19:11] ksanty commented on #251
@sarika01 can you please add an update here with regard to any blockers or major bugs still to be resolved? Also what is the status of the Apple store blocker? If you can include timing of resolving issues that would be great. TY

[2021-08-18 19:12] ksanty commented on #251
I am assuming that this would be for the current Wavi app. So, @murali-shris can give a better update.

[2021-08-18 19:15] ksanty opened #252 "@ mosphere GA launch"

[2021-08-18 19:16] ksanty commented on #252
@sarika01 can you please add an update here with regard to any blockers or major bugs still to be resolved? Also what is the status of the Apple store blocker? If you can include timing of resolving issues that would be great. TY

[2021-08-18 19:16] ksanty commented on #252
The major issue faced in Atmosphere is failure to share files of size > 1Mb. This is also dependent on notifications.
This app has not faced any issue for store submissions last time.
As of now, 27th Aug can be targeted to resolve the issues and then a week thereafter for store release.

[2021-08-18 19:16] ksanty commented on #252
Thanks @sarika01 are there any open bugs or issues, you can link to here for reference?

[2021-08-18 19:16] ksanty commented on #252
Dependent on this issue:
#atsign-foundation/apps#19

[2021-08-18 19:24] ksanty opened #253 "@ mospherePro GA launch"

[2021-08-18 19:25] ksanty commented on #253
@sarika01 can you please add an update here with regard to any blockers or major bugs still to be resolved? Also what is the status of the Apple store blocker? If you can include timing of resolving issues that would be great. TY

[2021-08-18 19:25] ksanty commented on #253
The major issue faced in AtmospherePro is unreliability of file transfer notifications and hence would require the new notification system. The app needs changes for this and testing to check the reliability.
This app has not been submitted to store yet. So, no known issues in releasing.
As of now, 27th Aug can be targeted to resolve the issues and then a week thereafter for store release.

[2021-08-18 19:25] ksanty commented on #253
Thanks @sarika01 are there any open bugs or issues, you can link to here for reference?

[2021-08-18 19:26] ksanty commented on #253
Dependent on these issues:
#atsign-foundation/apps#20
#atsign-foundation/at_client_sdk#148

[2021-08-18 20:44] anthonyvprakash opened #254 "Creation of a Developer Traction Metrics Dashboard and Weekly Tracking"

[2021-08-18 20:47] anthonyvprakash commented on #254
Creation of a Dashboard that captures the following and provides a simple way to update these metrics weekly

- [ ] Traffic on atsign.dev
- [ ] # of @ platform apps in App stores
- [ ] # of @ platform apps in Development ( with launch dates)
- [ ] # of Devs in the Affiliate program
- [ ] Youtube views
- [ ] Youtube watch time
- [ ] Attendance at Demo days and other events
- [ ] Discord Metrics
- [

[2021-08-18 20:52] xavierchanth commented on #254
Interesting, a lot is going on here, I will give it some thought. We are going to need somewhere to store some of this information.

[2021-08-18 20:55] anthonyvprakash opened #255 "Videos from Flutter Community and Advisors"

[2021-08-18 20:55] anthonyvprakash opened #256 "Publisher Model Framework for Execution ( along with Product Space)"
- [x]  Finalize contract with Product Space
- [x] define responsibilities and deliverables
- [x] timelines and milestones

[2021-08-18 20:55] anthonyvprakash opened #257 "Success Stories content for atsign.dev - Interviews, videos and testimonials"
- [x] Identify devs and apps for our testimonials page from our community @anthonyvprakash
- [x] Design for the community page @rtilney
- [x] Execution of videos/content @TylerTrott , @XavierChanth  & @hakeemawbrey  **PR21**

[2021-08-18 20:55] anthonyvprakash opened #258 "@ platform courses and learning"

[2021-08-18 20:55] anthonyvprakash opened #259 "SEO for Youtube Dev Videos"
- [x]  @XavierChanth  to reach out to contact for tips on YT SEO
- [x] Anthony to connect with Flutter community YT influencers
- [x] YT chapter markers on long videos

[2021-08-18 21:02] xavierchanth commented on #259
We have most of the things we need to improve YT SEO at this point. If we continue to struggle, I will reach out to my contact again.

[2021-08-18 22:44] ksanty opened #260 "@ arrive GA release"

[2021-08-18 22:45] ksanty commented on #260
@sarika01 can you please add an update here with regard to any blockers or major bugs still to be resolved? Also what is the status of the Apple store blocker? If you can include timing of resolving issues that would be great. TY

[2021-08-18 22:45] ksanty commented on #260
The major issue faced in Arrive is unreliability of actions. This is dependent on notifications and hence would require the new notification system. The app needs changes for this and testing to check the reliability.
This app has not been submitted to store yet. So, no known issues in releasing.
As of now, 27th Aug can be targeted to resolve the issues and then a week thereafter for store release

[2021-08-18 22:45] ksanty commented on #260
Thanks @sarika01 are there any open bugs or issues, you can link to here for reference?

[2021-08-18 22:45] ksanty commented on #260
Dependent on this issue:
#atsign-foundation/apps#156

[2021-08-18 22:47] ksanty opened #261 "@ spacesignal GA launch"

[2021-08-18 22:47] ksanty commented on #261
@ksanty This looks great. @nickelskevin Do we need 2 sets of screenshots for 12.9 iPads. Not sure about the technical differences between 2nd & 3rd gen...

[2021-08-18 22:48] ksanty commented on #261
@gefeiniangniang please add any notes as to what blockers you are experiencing and what you need from us. The team needs to track your status, so we can launch plan. TY

[2021-08-18 22:48] ksanty commented on #261
Thank you! This list is very helpful.

[2021-08-18 22:48] ksanty commented on #261
Great! Can you add links to any open issue that are blockers for us getting the app released? We are trying to track those things directly in this card.

[2021-08-18 22:48] ksanty commented on #261
Sounds great! I've just updated the things I'm working on.

[2021-08-18 22:49] ksanty commented on #261
Amazing! TY Gefei! :)

[2021-08-18 22:50] ksanty opened #262 "@ vento GA launch"
@jelicacomo app launch [outline here.](https://docs.google.com/document/d/1IbF1nTBtaz-nHfUDiwieciQPxiWzu2rFkgC5676P6hk/edit#)

ETA launch date:

- [x] Spoke to the J&J team, they are interested in the producer model; will be researching securing a company structure

# Cross Stores Checklist
- [ ] The name of you app (should be 30 characters or less to comply with both stores)
- [ ] Secure and acti

[2021-08-18 22:51] ksanty commented on #262
[Card moved](https://github.com/atsign-foundation/atsign.dev/issues/262) to Dev Traction sprint.

[2021-08-18 22:53] ksanty opened #263 "@ family GA Launch"

[2021-08-18 22:54] ksanty commented on #263
@XavierChanth please add your status notes here, any open issues, blockers and help you need from the team. Understand your target launch is EOM ?

[2021-08-18 23:54] ksanty commented on #239
@TylerTrott can you please update status before our sprint tomorrow?  TY!

[2021-08-18 23:55] ksanty commented on #240
@TylerTrott can you please update status before our call tomorrow?  TY!

[2021-08-18 23:56] ksanty commented on #241
@TylerTrott can you please update status before our call tomorrow?  TY!

[2021-08-18 23:59] #240 closed

[2021-08-19 00:01] #241 closed

[2021-08-19 00:03] TylerTrott commented on #239
@XavierChanth to record a walkthrough of the skeleton app, can be published either on YouTube or on atsign.dev or both.

[2021-08-19 00:30] XavierChanth commented on #263
[Logo as a psd](https://drive.google.com/file/d/1Yr2-SfODFqjv9zN1RSVfzGtr8IhURTr5/view?usp=sharing) for @rtilney

[2021-08-19 00:38] XavierChanth commented on #263
# Status

## Launch Checklist

We haven't officially confirmed that we are launching with the name @‎family.
I can find a time to meet with the team and decide on some of the details for this checklist.
I have secured the domain atfamily.ca, however if we rename the app we may want a domain name.

## Development Status

Three major pieces still outstanding in the application:

- Contact management

[2021-08-19 04:38] #238 closed

[2021-08-19 04:39] #82 closed

[2021-08-19 13:43] xavierchanth commented on #239
I'm currently working through some bugs with the at_app repo that have come up this week.

[2021-08-19 15:55] #226 closed

[2021-08-19 16:19] nickelskevin opened #265 "@ social GA Release"

[2021-08-19 17:13] ksanty opened #266 "take@vote GA Release"

[2021-08-19 23:34] jenmonroe commented on #245
@ksanty I do not know about this! Sounds like I should?

[2021-08-20 02:18] ksanty commented on #245
@jenmonroe yes using the empty space character is perfect.  :). Thanks for being on top of it!!

@ksanty  Meant to follow up on this earlier -- I don't know what it is, and didn't want to do edits wrong. I get the use of it I think after looking at the page, but does it go after every @ sign, so like "@ jenmonroe(emptycharacterspace) is updating this page?" But with the unicode and not my note? :D

[2021-09-02 03:58] #259 closed

[2021-09-02 03:59] #256 closed

[2021-09-02 15:57] jenmonroe opened #272 "Refine checklist template"
- [x] [Update Git template](https://github.com/atsign-foundation/apps/issues/233) @ksanty
- [x] Consolidate app store and google play launch checklists into [one list organized by task](https://docs.google.com/spreadsheets/d/10DXqnMEPDL6y8DHqS8J4TyRWHiqfu-y_ObxABNjFRDQ/edit#gid=0)
- [x] Team to review

[2021-09-16 01:33] anthonyvprakash commented on #257
09/15 - Design slightly delayed given @rtilney 's other priorities - we can get this done in the next sprint

[2021-09-16 13:50] hakeemawbrey opened #274 "@krpyto"

[2021-09-16 19:25] anthonyvprakash opened #275 "Runtime LIVE - Monthly"

[2021-09-16 20:07] cconstab commented on #239
Pushed back to backlog until we can get some more time.. But we need to pull together a new devs video..

Colin

[2021-09-16 20:22] xavierchanth commented on #239
my at_app demo coming up tomorrow may turn out to be a good temporary video

[2021-09-17 14:36] #222 closed

[2021-09-17 22:34] #272 closed

[2021-09-21 15:25] #239 closed

[2021-09-30 14:19] anthonyvprakash opened #279 "New Medium article on Getting started with the @ platform"

[2021-09-30 16:04] anthonyvprakash opened #280 "Tech(k)now Day - Content & Presentation Recordings"

[2021-09-30 17:09] #245 closed

[2021-10-05 11:09] cpswan opened #283 "Logos missing from Community page"
**Describe the bug**
Discord and YouTube logos are missing.

**To Reproduce**

Visit https://atsign.dev/community/

**Expected behavior**

All boxes have Logos

**Screenshots**
![image](https://user-images.githubusercontent.com/478926/136011824-4b995357-98cd-42ea-96af-b17d80ab6866.png)

![image](https://user-images.githubusercontent.com/478926/136011871-a6b6370b-994e-4cf6-9c3d-be3301e27a3a.png)

[2021-10-05 11:11] harish127 commented on #283
hey i can fix the issue..

[2021-10-05 14:01] HimangsKalita commented on #283
I think I can do it

[2021-10-05 14:23] itsdharmxd commented on #283
hey  **@cpswan**   assign me this i am working on this

[2021-10-07 07:03] shikhar13012001 commented on #283
I would love to work on this.  Could you assign this issue to me, if it is still open?

[2021-10-13 19:19] xavierchanth commented on #279
The focus for the article has evolved to draw in flutter developers looking for a no backend platform to build upon.
I've estimated at about 3SPs.

[2021-10-14 01:01] anthonyvprakash commented on #275
For Oct 20th session : We will have Simon Lightfoot and our gang. Prep call set for Oct 15.

[2021-10-14 03:11] #257 closed

[2021-10-15 14:21] TylerTrott commented on #283
Fix was pushed in most recent release.

[2021-10-15 14:23] TylerTrott commented on #117
Verified that this has been fixed.

[2021-10-15 14:24] TylerTrott commented on #49
Whitepaper seems to be written and published on atsign.dev

[2021-10-15 14:24] #49 closed

[2021-10-22 15:51] TylerTrott opened #295 "Content Migration from at_docsy to atsign.dev"
The Community page is built as an HTML file within the at_docsy repo. In order to use assets found in the static folder of atsign.dev, we will need to transfer the content found in the community-page.html in at_docsy to the community.md that resides in atsign.dev.

This migration will need to be tested in a local environment and devstaging.

[2021-10-28 04:34] anthonyvprakash opened #298 "Getting Code and Apps ready for Hack Princeton"
- [ ] Content for presentation
- [ ] Chitchat code

[2021-10-28 14:10] hakeemawbrey commented on #275
[Session video for oct 20th runtime ](https://www.youtube.com/watch?v=QfvuHrtacHs)

[2021-10-28 16:10] TylerTrott commented on #298
Thought we were gonna revamp at_hello_world or at_cookbook for Hack Princeton? @anthonyvprakash

[2021-10-28 17:29] xavierchanth commented on #298
I thought so too, I am also working on a very simple todo list application which was intended as a demo application. I'm happy to go with whatever feels right for this crowd.

[2021-10-28 18:40] anthonyvprakash commented on #298
That is totally your call on what we want to showcase as an easy app. The card is here to track it and make sure we don't miss the work.

[2021-11-03 09:59] yahu1031 opened #303 "virtualenv-compose-vip.yaml content correction"
**Is this a request for Brand New Content?**
No

**If existing content, please link **
[virtualenv-compose-vip.yaml#L16-L20](https://github.com/atsign-foundation/atsign.dev/blob/trunk/static/curl/virtualenv-compose-vip.yaml#L16-L20)

**Where do you intend to use or post this content?**
[atsign.dev](https://atsign.dev)

**Depth/Length of content**
Any restrictions? - No

**Who is the audience?**
De

[2021-11-03 15:50] #303 closed

[2021-11-08 16:42] CynthiaPeter opened #309 "Dev page looks Cropped out on mobile browsers"
**Describe the bug**
- The atsign.dev docs page when loaded on my mobile phone, looks cropped out on the left.
- Secondly, I can't view everything on the screen at once. I will have to move the page left or right to view.

**Expected behavior**
Usually, for mobile mode, I shouldn't need to zoom in or out to see everything on the screen. But in this case, I have to move the page left or right to se

[2021-11-10 19:35] anthonyvprakash commented on #298
completed.

[2021-11-10 19:35] #298 closed

[2021-11-15 15:59] yahu1031 opened #314 "Broken/Wrong redirection links found"
**Describe the bug**
- When we go to [virtual Env setup docs](https://atsign.dev/docs/guides/the-virtual-environment/)
  1. Choose what os(all 3) you want to set up then it redirects you to the 404-page cause the links were not updated.
  2. After set up was done and **Not sure what to do now? Try here!** links were leading to 404-page.

- [Data privacy and permissions](https://atsign.dev/docs/gui

[2021-11-17 18:07] TylerTrott opened #315 "Ongoing Enhancements of the dev site"
Notes of features, possible enhancements, etc.
_These are all optional (or potential) enhancements_

- [x] Click on infrastructure, privacy by design and rapid onboarding icons

- [x] Get Started button is far away

- [ ] A back and next button on the bottom of pages

- [ ] Center everything

- [ ] Add dartpad playground and example code (iFrame DartPad?)

- [ ] List of things to know to get bette

[2021-11-18 19:09] xavierchanth commented on #254
Added a google doc to the top of the issue.

[2021-11-18 23:29] #314 closed

[2021-11-18 23:30] #309 closed

[2021-11-18 23:35] TylerTrott opened #320 "Landing Page does not fit for mobile view"
Fixed Community page width, so will copy and paste the css from community page

[2021-11-26 20:13] TylerTrott opened #322 "Footer Content -> Hyperlinks Broken"
The footer notes with Github, Twitter and Discord have broken hyperlinks as displayed below. These hyperlinks exist in Shortcode. Any thoughts @Intiserahmed ?

<img width="1439" alt="Screen Shot 2021-11-26 at 12 12 32 PM" src="https://user-images.githubusercontent.com/66637408/143626304-28c038a6-21a0-4ef6-95f6-10fe1324112e.png">

[2021-11-26 20:16] TylerTrott commented on #320
Discovered potential solution => Global Encryption Coalition image is too large. Will fit to screen width accordingly.

[2021-11-27 06:04] yahu1031 commented on #322
This issue is due to having tab spaces before the footer content in [`content/en/_index.html`](https://github.com/atsign-foundation/atsign.dev/blob/trunk/content/en/_index.html#L146-L159) page

[code]

[2021-11-29 13:55] gc-shisir opened #324 "Scrollbar in footer content"
**Describe the bug**
Scrollbar appeared in footer content which is unexpected I guess

**Screenshots**
![Screenshot from 2021-11-29 19-32-23](https://user-images.githubusercontent.com/55572721/143879568-aa62cca2-6feb-46bc-bf95-23210d2639aa.png)

**Expected behavior**
No scrollbar and text in multiple lines

**Browser:**
 - Chrome, Firefox

**Were you using an @‎application when the bug was found?*

[2021-11-29 13:57] yahu1031 commented on #324
Fix is #323

[2021-11-29 14:26] gcshisir commented on #324
@yahu1031 thanks

[2021-11-30 15:15] #322 closed

[2021-12-01 19:39] TylerTrott commented on #324
Closing as this issue has been resolved

[2021-12-01 19:39] #324 closed

[2021-12-01 19:39] TylerTrott commented on #320
Closing as this issue has been resolved

[2021-12-01 19:39] #320 closed

[2021-12-01 19:40] TylerTrott commented on #315
Note : -
- Adding another enhancement (Reduce noise and focus in content deep-dive)

[2021-12-05 12:27] gkc opened #331 "Error on https://atsign.dev/docs/rsdk_migration/migration_uptake/"
**If existing content, please link **
https://atsign.dev/docs/rsdk_migration/migration_uptake/

**Additional context**
In the "Starting listening to notifications" section of the page, this code snippet is incorrect
[code]
and it should read
[code]

[2021-12-08 20:12] anthonyvprakash opened #334 "Dev Site : @ platform Intro Videos"
New Intro Video on the @platform for the Homepage
**Plan A** - with graphics and voice over @hakeemawbrey
**Plan B** - Explainer video manual ( immediate)  w/ @cconstab and @nickelskevin

[2021-12-08 20:12] anthonyvprakash opened #335 "Dev Site : Give it a try(parlor trick)"
Lead: @TylerTrott

**Give it a try**
at_app, just the basics, refer to details separately
Need to show action at a distance -  (the parlor trick, leverage web)
- Snack bar demo
- Light mode / dark mode

[2021-12-08 20:12] anthonyvprakash opened #336 "Dev Site : Docs Section New Flow"
Please refer to [reference document](https://docs.google.com/document/d/12UiNmpIIZ3NzdfriRZj901DQK2AsdQ5Nz8Un_c38ocw/edit#) for the new flow.

[2021-12-08 20:12] anthonyvprakash opened #337 "Dev Site : @ platform Story ( link from .com site)"

[2021-12-08 20:12] anthonyvprakash opened #338 "Dev Site : New Flow for Devs new to Flutter"
- [x] Move current Getting Started to cater to new Devs
- [x] Reorganize content and put it in new flow

[2021-12-08 20:12] anthonyvprakash opened #339 "Dev Site : URL changes based on Updates to atsign.org content on pub.dev"
Lead: @anthonyvprakash who is the lead here?

- [x] Once the pub.dev changes are complete, make sure the URLs are right on the Dev site across everything under Docs
- [x] Dependency on all documentation cards from the Dev Engg Sprint to be completed first before we update the URLs

[2021-12-08 20:12] anthonyvprakash opened #340 "Dev Site : SEO Additions and Fixes"

[2021-12-08 20:12] anthonyvprakash opened #341 "Dev Site : Docs Sections Missing Documentation"
Lead: @TylerTrott

**Misc items:**
- [x] Remove pricing it has its own section on the nav
- [ ] Remove the rSDK and just talk about the SDK  - we need brand new documentation to talk about the various elements of the new SDK and explanation of each component.
- [x] Take our other content that does not fit in the new flow

**Content needed on the following pages:**
- [x] chit_chat, @mosphere pro, w

[2021-12-08 20:12] anthonyvprakash opened #342 "Dev Site : Showcase page"
- [x] Add relevant apps
- [x] Include Atmosphere Pro

[2021-12-08 20:12] anthonyvprakash opened #343 "Dev Site : Architecture Diagram Updates"

[2021-12-09 14:53] anthonyvprakash commented on #254
Piloting the [Orbit Model](https://github.com/orbit-love/orbit-model) for The @ Company

[2021-12-09 14:53] anthonyvprakash commented on #315
Closing this ticket since we have several new tickets for the Dev site

[2021-12-09 14:53] #315 closed

[2021-12-09 17:21] xavierchanth commented on #334
Idea: Animated voice over of founders telling story

[2021-12-16 00:34] cconstab commented on #335
Next set of actions

- [x] Add light/dark mode toggle to demo (@cconstab working on it but as a secondary issue) - Not going to be done
- [x] Convert application to template for at_app (@cconstab)
- [x] Flow mock up for page and get agreement (@TylerTrott)
- [x] Write narrative to go along with examples (@TylerTrott  but ask @cconstab / @nickelskevin if you need help!)

[2021-12-16 19:46] anthonyvprakash commented on #336
This new flow is completed it is up on staging with the new collapsible menu

[2021-12-16 19:46] #336 closed

[2021-12-20 21:06] anthonyvprakash opened #353 "Dev Site : Getting Started Video for Mobile"
- [ ] The new Getting started with the parlor trick is not suited for the mobile audience - we need a new video to explain what goes on for this subset of developers.

[2021-12-20 21:13] anthonyvprakash commented on #353
Consolidated card with an existing card. No need for this one.

[2021-12-20 21:13] #353 closed

[2021-12-21 06:41] #338 closed

[2021-12-21 18:22] #331 closed

[2022-01-05 18:12] TylerTrott commented on #334
- [x] Video w/ Kevin/Colin recorded
- [x] Long version (Completed Editing)
- [x] Short version (Completed Editing)
- [x] Upload short version on Vimeo @hakeemawbrey
- [x] Upload long version on Youtube
- [x] Upload on dev site

[2022-01-05 18:21] yahu1031 opened #358 "Change the Java recommendation 16 to 8"
**Is this a request for Brand New Content?**
Yes

**If existing content, please link **
[Java recommendation](https://atsign.dev/docs/faqs/flutter/#flutter-doctor-says-that-java-needs-to-be-installed)

**Depth/Length of content**
Any restrictions? No

**Who is the audience?**
Developers

**Additional context**
Please recommend using Java 8 instead of Java 16.

Here is the link
<https://www.openlog

[2022-01-06 18:25] XavierChanth opened #359 "Dev Site: Create custom 404 page"
**Is this a request for Brand New Content?**
Y

**If existing content, please link **
N/a

**Where do you intend to use or post this content?**
404 page

**Depth/Length of content**
No

**Who is the audience?**
N/a

**Additional context**
To suppress the "You can learn how to make a 404 page..." message:
![image](https://user-images.githubusercontent.com/33691921/148432057-c545bb2a-62b2-4ec4-829a-

[2022-01-06 19:00] TylerTrott commented on #358
Edit made, cheers @yahu1031

[2022-01-06 19:00] #358 closed

[2022-01-10 19:18] TylerTrott commented on #342
@anthonyvprakash What are some examples for "relevant apps"?

[2022-01-10 19:21] TylerTrott commented on #335
Step-by-step written process completed.
Video running through the steps in progress of being recorded/edited

[2022-01-12 01:55] ksanty opened #361 "Find a new owner"

[2022-01-12 23:56] ksanty opened #362 "Q122 Dev Traction - atsign.dev"

[2022-01-13 04:48] anthonyvprakash opened #363 "Q122 Dev Traction - RentalHunt.Live"
- [ ] Work with Samir and get this app launched by early April 2022

- [ ]  Support Samir with resources from our Engineering team for all his technology needs

[2022-01-13 04:54] anthonyvprakash opened #364 "Q122 Dev Traction - Visible first follower apps"
- [ ]  Work with all the app founders and owners and get their apps launched successfully

[Rental Hunt]( https://github.com/atsign-foundation/atsign.dev/issues/363)

[SpaceChat](url)

[@buzz](url)

[2022-01-18 03:39] #342 closed

[2022-01-18 03:41] #334 closed

[2022-01-18 03:42] anthonyvprakash opened #370 "Feb-Mar 2022 Traction"

[2022-01-18 04:42] xavierchanth commented on #359
Closed with #368 can be revisited later if needed.

[2022-01-18 04:42] #359 closed

[2022-01-18 10:29] cpswan commented on #341
@anthonyvprakash I can see that the UpdateLibraries workflow is running daily, and just not picking up any changes from pub.dev that need to be added to atsign.dev

The last time it did pick up a change and generate a Pull Request was 16 Dec.

What are you expecting to see that's not happening?

[2022-01-19 19:26] ksanty opened #373 "AtSign.Dev Edits | Suggestions by KimS + JenM"
Page: http://devstaging.atsign.wtf/docs/get-started/

- [ ] Feel like we need a general suggestions email alias embedded to all the docsy pages, so we can capture comments/suggestion on any page (under what is the atplatform)

Page: http://devstaging.atsign.wtf/docs/get-started/tryatplatform/
- [x] Suggested language change #374
- [x] Flow was difficult for me to follow, but I'm not a developer.

[2022-01-19 19:37] xavierchanth commented on #373
Alternative solutions to an email alias:
- Link to a google form - Could automate this to automatically create an issue for us.
- Link to open a new issue on the repo

[2022-01-19 20:08] ksanty opened #377 "Feel like we need a general suggestions email alias embedded to all the docsy pages, so we can capture comments/suggestion on any page (under try explain the building blocks)"

[2022-01-19 20:09] #377 closed

[2022-01-21 21:08] TylerTrott commented on #373
All items in issue have been resolved. Thank you for feedback!

[2022-01-21 21:08] #373 closed

[2022-01-25 01:30] nickelskevin commented on #364
@cconstab - could you please reach out to the FileBin dev to ask if he is willing to join in the @ mospherePro story?

[2022-01-26 18:15] #335 closed

[2022-01-26 18:16] anthonyvprakash opened #383 "New Parlor Trick Video for Mobile Users"

[2022-01-26 18:18] anthonyvprakash commented on #339
Closing card as we have other cards to capture missing info.

[2022-01-26 18:18] #339 closed

[2022-01-26 18:20] TylerTrott opened #384 "Dev Site: Ongoing Edits"

[2022-02-01 14:32] nickelskevin commented on #364
Just met with GeekyAnts on the @ mospherePro video and they have confirmed that they will produce it. ETA = a couple of weeks.

[2022-02-01 14:32] nickelskevin commented on #364
Also - Sachin is currently writing the blog post.

[2022-02-01 18:36] TylerTrott opened #385 "Miscellaneous Edits"
Edits to be made to be added shortly

[2022-02-01 18:40] nickelskevin commented on #364
@XavierChanth and I just spoke about at_app and are proposing to delay this story until things mature a bit as both at_app and mason implementations get a little further along.

[2022-02-01 21:06] ksanty commented on #370
[Daily Tracker](https://docs.google.com/spreadsheets/d/1PeubRwB7jA_fvVi7r3G8VgEBZ7IcVEyh69fIVLtqjE4/edit?pli=1#gid=270854702).

- [x] Wk 1 - 2/1 (888) actual 1286
- [x] Wk 2 - 2/7 (888) actual 1433
- [x] Wk 3 - 2/14 (888) actual 1428
- [x] Wk 4 - 2/21 (888) actual 1873
- [x] Wk 5 - 2/28 (888) actual 2639
- [x] Wk 6 - 3/7 (888) actual 318
- [x] Wk 7 - 3/14 (888) actual 0
- [x] Wk 8 - 3/21 (888) act

[2022-02-02 01:01] nickelskevin commented on #364
Added in SpaceChat to the list as at_app will be paused for a bit...

[2022-02-02 20:04] TylerTrott commented on #341
Overall Core SDK documentation needed @kalluriramkumar @VJag
Documentation on the use cases of the SDK:
- [x] How to create keys
- [x] How to put, get, delete
- [x] How sharing works
- [x] Notifications
- [x] All services/managers (AtClientManager, Sync manager, notifcation manager)

[2022-02-03 00:16] atsigndenise commented on #364
Draft of CATWEB article: https://docs.google.com/document/d/1cPIC8TFI1JyyiXhrzULvhnSLpw3A5IR_TJM1Iwvu6vE/edit

[2022-02-03 00:40] anthonyvprakash commented on #363
Since our weekly meetings fell of the calendars, @anthonyvprakash  has reset a twice a month meeting with Samir.

[2022-02-03 00:47] anthonyvprakash commented on #254
@Shubhangi0304  - Can you please add your updates here?

[2022-02-03 04:35] anthonyvprakash opened #387 "Finalize Traction Activities for Feb-March"
Lead : @anthonyvprakash

- [x] Prioritize events and campaigns for Feb and March
- [x] Decision Logs and Budgets
- [x] Kick off individual cards on finalized campaigns

[2022-02-03 04:37] anthonyvprakash opened #388 "Full Stack Squared : Feb 10-13"
Event Page : https://devscript.org/fss/

- [x] @cpswan to do KeyNote
- [x] @ platform session by @nickelskevin  & @cconstab
- [x] @ sign campaign the weekend of Feb 5 & 6
- [x]  T-shirt logistics

[2022-02-03 17:25] anthonyvprakash opened #389 "Corserva (Door Locks) Collaboration"

[2022-02-03 17:38] anthonyvprakash opened #390 "Flutter Silicon Valley"
Lead : @anthonyvprakash

- [x] Launch on Twitter
- [x] Promotions
- [x] Decide on date for first meetup
- [x] Finalize location, logistics
- [x] Marketing
- [x] Lock down agenda and speakers

[2022-02-03 18:46] xavierchanth commented on #390
The [flame team](https://flame-engine.org) has been very active, they did a talk at Flutter Toronto & Flutter Vikings, might be good to reach out to them.

[2022-02-07 10:26] cpswan opened #392 "Build broken: failed to extract shortcode: template for shortcode "features" not found"
**Describe the bug**

#386 uses a shortcode "features" but seems to be missing the code (or template revisions) that introduce it.

The build GitHub Action is failing:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. cd into a recent clone of this repo (or `git pull` on `trunk` for an existing clone
2. run `hugo server`
3. `Error: Error building site:`...`failed to extract shortcode:

[2022-02-10 15:00] xavierchanth commented on #392
This is what happens when the at_docsy ref hasn't been updated in atsign.dev but the shortcodes from at_docsy are being used.

[2022-02-10 15:02] Intiserahmed commented on #392
Yeap from now on will make sure the at_docsy pr merged first then make a pr in the atsign.dev

[2022-02-10 15:04] xavierchanth commented on #392
Same type of situation with the build that just failed this morning:
The submodule ref has been updated in atsign.dev, but hasn't been pushed to at_docsy yet.

[2022-02-11 18:19] TylerTrott commented on #392
Build works now, issue was atsign.dev repo was pushed first and pointing at a previous push rather than the most up-to-date at_docsy. Note: Push and merge at_docsy pr's first and then point atsign.dev to merged at_docsy.

[2022-02-11 18:19] #392 closed

[2022-02-11 18:19] #385 closed

[2022-02-11 18:20] TylerTrott commented on #384
Will be opening a separate issue for "atsign.dev html to shortcode transmission. (all the pages)", otherwise, every thing else has been completed.

[2022-02-11 18:21] TylerTrott opened #397 "atsign.dev: HTML to shortcode refactor. (all pages)"
Pages to be edited-

- [ ] Community
- [ ] Showcase
- [ ] Docs (Will this need to be refactored? @XavierChanth )
- [ ] Pricing
- [ ] @ dev Program

[2022-02-11 18:22] TylerTrott commented on #383
@XavierChanth, @anthonyvprakash  is this something I should still be working on?

[2022-02-14 17:19] Shubhangi0304 opened #398 "Electrothon 4 (Feb 18 - 20)"
1. Event Type: Hackathon
2. Website: https://electrothon.specnith.com
3. Expected participants: 2000
4. atsigns expected : 1500

Activities :
- [x] Meme Contest
- [x] Session on @ platfrom
- [x] Tshirt Giveaway

[2022-02-15 15:11] Intiserahmed commented on #341
Can we please include all the documentation at this [doc](https://docs.google.com/document/d/1RyoXsqFm99yVSWb0IlksUVsKmES4GLmPOA9AnMZXU7Q/edit#heading=h.j7t1yv3f93cr) . Thank you.

[2022-02-16 10:57] VJag commented on #341
Sneak peek. Working on the docs for the following outlined items. Things might change, but just to give you a heads up.

All of the below content is related to "How to create keys" / "Different keys in At protocol"

Key basics:
 - Structure of a key
 - What is a valid key

public key

 - What is a public key
 - Creating a public key
 - Making public keys cacheable
 - Self-signing

shared key

 - W

[2022-02-16 11:07] VJag commented on #341
Outline for "How to put, get, delete"

 put()

 - Explain the signature
 	- Arguments
 	- Return types
 	- Exceptions ~~ what can go wrong
 - What it does (Use dart docs)
   - Writing to localSecondary
   - Writing to remoteSecondary

 get()

 - Explain the signature
 	- Arguments
 	- Return types
 	- Exceptions ~~ what can go wrong
  - What it does (Use dart docs)
  - various look up's
  - what c

[2022-02-16 11:15] VJag commented on #341
Notifications

- What is a notification
- Types of notifications
	- key
	- Text
- How to send a notification
	- Explain the signature
- Knowing if the notification is successful

[2022-02-16 11:28] xavierchanth commented on #341
This all looks really good so far @VJag!

[2022-02-17 01:16] #387 closed

[2022-02-17 01:33] anthonyvprakash opened #400 "Biweekly TwitterSpaces Prep"

[2022-02-17 01:33] anthonyvprakash opened #401 "Openforce 2022 (March 3 - 28)"
Leads : @anthonyvprakash, @Shubhangi0304  & @Jatinpandya26

Event Type: Hackathon
Website: https://www.openforce.tech/
Expected participants: 4000
atsigns expected : 2500

- [x] Dude App Opensource decision
- [x] @ wavi app or atmosphere Pro Open source
- [x] Opening Day Kick-off Sessions
- [x] Tshirt Giveaway
- [x] OpenForce Launch Event

[2022-02-17 01:33] anthonyvprakash opened #402 "HackOWASP 4.0 (March 11 - 13)"
Leads : @Shubhangi0304  & @Jatinpandya26

1. Event Type: Hackathon
2. Website: https://hackowasp.live
3. Expected participants: 1500
4. atsigns expected : 2000

Activities:

- [x] Tshirt Giveaway
- [x] Treasure Hunt Campaign
- [x]  Session on the @ platform
- [x] Opening Note
- [x] AMA about @ Platform

[2022-02-17 01:33] anthonyvprakash opened #403 "JIIT (March 4 - 6)"
Lead : @Shubhangi0304  & @Jatinpandya26

Event Type: Hackathon
Website: https://gdscjiit128.tech/#/bitbox
Expected participants: 300
atsigns expected : 300

- [x]  At Sign Campaign
- [x]  Logistics of t-shirt shipping

[2022-02-17 01:33] anthonyvprakash opened #404 "Dude App Readiness"

[2022-02-17 02:13] anthonyvprakash opened #405 "L1 Support Resource"

[2022-02-17 02:13] anthonyvprakash opened #406 "DevRel Engineer Interviews"
Lead : @anthonyvprakash

- [ ]  Shortlist candidates for 1st round
- [ ]  Conduct 30 min calls
- [ ]  Setup 2nd round deep dive interviews

[2022-02-17 14:13] anthonyvprakash opened #407 "OSCA March 2022"
1. Event Name : OSCAFest
2. Event Date: 24th- 26th of February, 2022
3. Website : https://festival.oscafrica.org/
4. Number of participants : 500+
5. Number of atsigns expected : 500
6. Event Audience: Open source enthusiasts, maintainers,  developers, designers, e.t.c
7. Activities :
- [x] SWAG? Partners
- [x] Speaking slot?
- [x] Cynthia to travel? Need Decision log
- [x] Finalize activities tha

[2022-02-17 16:40] Jatinpandya26 commented on #402
- [ ] Giveaway (This Weekend) - Online
- [ ] Treasure hunt campaign - Potential @mosphere pro campaign
- [ ] Giveaway (This Weekend) - Offline
- [ ] Opening Note for us
- [ ] AMA about @ Platform

***Note** - Might be postponed a week late due to management issues for dates in the week hack has been planned now.

[2022-02-17 20:29] ksanty commented on #398
@Shubhangi0304 thanks for adding context to the event.

[2022-03-02 23:39] anthonyvprakash commented on #398
T-shirt winners and logistics pending - updated Sprint points

[2022-03-02 23:43] anthonyvprakash opened #413 "April-May @signs Traction"
- [x] Discuss and finalize strategy for 16,000 atsigns
- [x] How much can we get via apps?
- [x] How much should we spend on events and campaigns?
- [x] Short list events and finalize
- [x] Marketing activities planning and finalize

[2022-03-03 03:03] TylerTrott opened #414 "Reimagine dev site landing page"
**Is this a request for Brand New Content?**
Y

**If existing content, please link **
N/A

**Where do you intend to use or post this content?**
Developer site

**Depth/Length of content**
This rework can entail anything that may increase the effectiveness of our landing page. The complexity of this issue may vary depending the type of restructure proposed.

- What do devs want to see on a landing

[2022-03-03 03:08] TylerTrott opened #415 "Whitepaper moved to 'Archives' folder"
*What the issue is*
Some documentation was migrated to our 'Archives' folder which was not meant to be archived. One of these includes the directory which was home of our white-papers.

*What the solution is*
We need to move this directory outside of the 'Archives' folder and moved to our 'References' folder.

*Additional Information*
The white-papers contain images. These images will not work whe

[2022-03-03 03:12] TylerTrott opened #416 "Images within White-papers do not work"
*What the issue is*
When the White-papers are migrated outside of the 'Archives' folder, the URL's calling the images will not work, resulting in a broken image tag on the dev site.

*Solution to the issue*
After the 'Whitepapers' directory has been migrated (Issue #415), we will need to **rename** and **migrate** the 'images' folder to the 'static' folder. Hugo will not be able to pick up a direc

[2022-03-03 03:18] TylerTrott opened #417 "Community Page CSS Rework"
*What the issue is*
The CSS for the Community Page needs a bit of work. Upon navigating to the https://atsign.dev/community/ link, we see that the space between the Github and Discord cards are a bit close to the top banner.

*Solution to the issue*
We will need to work with either:
- The Shortcode that exists behind the individual cards to move them down a tad
- Create a ghost div to make up for

[2022-03-03 03:29] TylerTrott commented on #383
*What this issue is*
Our 'Try the @ platform' page would benefit from having a video displaying running through the steps on a computer for our mobile users.

*How to resolve this issue*
Screen-record the steps of 'Try the @ platform', publish on Vimeo, and integrate into the page itself for those who can not go through the steps.

[2022-03-03 03:31] TylerTrott commented on #39
This is something that we can still explore! Especially with OpenForce happening!

[2022-03-03 03:38] TylerTrott opened #418 "Buttons for Docs pages"
*What the issue is*
Rather than having a 'Where Should I go next?' section at the bottom of our Docs files, we can have buttons that navigate a reader to the next recommended page for them upon click.

*How to resolve this*
Integrate buttons on the bottom of all docs files that take you either to the next recommended page or previous page.

[2022-03-03 03:41] TylerTrott opened #419 "Add dartpad playground and example code"
*What the issue is*
We think being able to play with sample code is important in understanding what the code looks and feels like. We should integrate a form of DartPad that will allow for @ protocol verb usage.

[2022-03-03 03:44] TylerTrott opened #420 "Highlight current page within Nav Bar"
*What the issue is*
Currently, when utilizing the navigation bar on the dev site, you are not able to tell the current page you are on.

*How to resolve this*
Highlight current page on the nav bar by making the word bold/different color/etc.

[2022-03-03 04:01] TylerTrott opened #421 "Reimagine our Showcase page"
*What the issue is*
Our current Showcase page seems unimaginative and can use some fun!

*How to resolve this issue*
Create ways to show off our apps in a fresh, modern way!

[2022-03-03 04:02] hakeemawbrey opened #422 "New & Improved @platform videos"
Due to the overwhelming positive feedback on our bite sized videos, we are investing more time towards grinding content about the @ platform

- [ ] 1. @TylerTrott & @hakeemawbrey will develop new process for creating bite sized video based off learnings
- [ ] 2. Videos will be generally 2mins or less
- [ ] 3. Short vertical videos will be experimented with for shorts, tiktoks, reels, etc
- [ ] 4.

[2022-03-03 04:12] hakeemawbrey commented on #422
If possible that @TylerTrott and I are to meet irl for Flutter SV, we would love to propose a plan to have a 1 day off site where the 2 of us can film content irl in large batches. this is all TBD

[2022-03-03 04:12] TylerTrott opened #423 "Grammatical Error Site Sweep"
*What the issue is*
Our dev site contains some misspellings, sentences that can reworded, etc.

*How to resolve the issue*
Go through every page that resides within our dev site and check for any errors that may exist within the documentation.

[2022-03-03 04:14] hakeemawbrey commented on #422
Next steps would be to start planning how to make 1-9 possible and start a pilot with the new format that easy to reproduce
@TylerTrott @hakeemawbrey

[2022-03-03 13:20] Swastyy commented on #423
Hi @TylerTrott , Please assign this issue to me. Thanks.

[2022-03-03 15:17] knowShubhangi commented on #402
Dates of the hackathon were changed.
Tshirt giveaway - ongoing

[2022-03-03 15:20] knowShubhangi commented on #403
everything is ready to go, waiting fo the hack to start

[2022-03-03 15:27] Shubhangi0304 opened #424 "LeanIn Hacks"
Lead : @Shubhangi0304  & @Jatinpandya26

Event Type: Hackathon
Website: NA
Expected participants: 300
atsigns expected : 300

- [x]  At Sign Campaign
- [x]  Logistics of t-shirt shipping

[2022-03-03 15:30] Shubhangi0304 opened #425 "Connect with India Flutter Devs"
- [ ] Google Communities
- [ ] Individual Devs
- [ ] Flutter regional community

[2022-03-03 17:47] Niharikamnit commented on #423
Hey @TylerTrott I would love to contribute to this issue

[2022-03-03 18:10] TylerTrott commented on #423
Assigned! Thank you for your assistance.

[2022-03-03 18:10] TylerTrott commented on #423
Assigned! Thank you for your assistance as well!

[2022-03-03 18:55] TylerTrott opened #426 "Mobile View- Landing Page - Icons not centered"
*What the issue is*
The icons that exist under the section, 'New to the @ platform', are not entered on mobile view

*How to resolve issue*
Center the icons

[2022-03-03 19:00] TylerTrott opened #427 "Mobile View- Landing Page - EFF/GEC logos"
*What the issue is*
The logos for EFF and GEC on mobile view are cut off and do not flex appropriately.

*How to resolve issue*
Allow logos to flex with changing height & width ratios

[2022-03-03 19:02] TylerTrott opened #428 "Privacy Page under Docs is empty"
*What the issue is*
Our Privacy page that exists within our Docs section is currently blank.

*How to resolve this issue*
- We can migrate this file to our 'Archives' folder until we have time to fill it with content.
- We can add relevant content to the file.

[2022-03-03 19:05] TylerTrott opened #429 "Mobile View- Showcase Page- Footer not viewable"
*What the issue is*
When navigating to our Showcase page on mobile view, the footer does not exist at the bottom of the page.

*How to resolve this issue*
There are a few ways we could tackle this one:
- This issue may be resolved synchronously with the resolution of Issue #421
- Fix with shortcode
- Format proper CSS

[2022-03-03 19:08] TylerTrott opened #430 "Join the @Dev Program"
*What the Issue is*
All content currently existing behind 'Join the @ Dev Program', states, "coming soon", or simply has no content.

*How to resolve this issue*
- Fill with relevant documentation and content
- Migrate 'Join the @ Dev Program' directory to our 'Archives' folder until we are ready to integrate content.

[2022-03-03 19:10] TylerTrott opened #431 "Mobile View- Navigation Bar"
*What the issue is*
The 'Get Started' button currently is being cut off in the nav bar on mobile view.

*How to resolve this*
A few ways we can tackle this issue:
- Create a larger space to allow for the full button to be displayed
- Downsize the button to fit within the space provided

[2022-03-03 19:11] TylerTrott opened #432 "Landing Page - Icons"
*What the issue is*
We currently only have one clickable icon on the landing page - join our developer community. Let's try to reimagine ways in which we can properly utilize these icons.

[2022-03-03 19:12] Rushijaviya opened #433 "broken link in Contributing guidelines"
In the contribution guidelines (CONTRIBUTING.md) in step 1 of Development Environment Setup which is Local Hugo Installation, the link of Working With Hugo is broken. When I click on it shows Error 404 webpage is not found.

![image](https://user-images.githubusercontent.com/59735978/156634447-271215ae-2239-400c-8c01-3710d9189538.png)

As you can see in the above image. seeing URL I see that you h

[2022-03-03 19:15] TylerTrott commented on #433
Hi there, I pushed this fix yesterday! You should see the updated site now.

[2022-03-03 19:15] #433 closed

[2022-03-03 19:19] Rushijaviya commented on #433
You can see here [CONTRIBUTING.md](https://github.com/atsign-foundation/atsign.dev/blob/trunk/CONTRIBUTING.md). In this file when I click on [Working With Hugo](https://github.com/atsign-foundation/atsign.dev/blob/trunk/content/en/docs/guides/getting-started-with-hugo.md) in step 1 it shows the page is not found.

[2022-03-03 20:53] yahu1031 opened #435 "Showcase doesn't render correctly in desktop"
**Describe the bug**
Footer is being hidden(looks like) due to the showcase cards.

**Screenshots**

https://user-images.githubusercontent.com/35523357/156650594-53c40beb-0b0b-4403-a987-2067ea5e4a7c.mp4

**Smartphone (please complete the following information):**
 - Browser: edge
 - Version: 98.0.1108.62

*How to resolve this*
 - Fix with shortcode
 - Format proper CSS
 - Related Issue #421

[2022-03-03 21:59] amanbedi1 commented on #435
Can you assign it to me I can do it

[2022-03-03 22:00] TylerTrott commented on #435
Assigned

[2022-03-04 03:11] Swastyy commented on #428
Hi @TylerTrott , I want to contribute to this issue. Please assign. Thanks.

[2022-03-04 04:13] Rohitrout416 commented on #418
Hi I want to work on this issue. Please assign me.

[2022-03-04 04:14] Rohitrout416 commented on #430
Hi I want to work on this issue. Please assign me.

[2022-03-04 04:15] AwsmNinad25 commented on #431
Hey @TylerTrott please assign me I would like to contribute

[2022-03-04 04:20] Rohitrout416 commented on #426
Hi I would like to work on this issue. Please assign me.

[2022-03-04 04:24] Rohitrout416 commented on #420
Hi! I would like to work on this issue. Please assign me.

[2022-03-04 07:00] tamal78 commented on #415
Hey @TylerTrott  i can fix this issue . can u please assign it to me .thanks!

[2022-03-04 09:20] Sandhya312 commented on #431
Hey, @TylerTrott I want to resolve this issue. Please assign me. I am a contributor of openforce'22.

[2022-03-04 09:32] Sandhya312 commented on #429
Hey @TylerTrott, I am a contributor to openforce'22. I want to work on this issue. Please assign this issue to me.

[2022-03-04 09:36] Sandhya312 commented on #427
Hey @TylerTrott, I am a contributor to openforce'22. I want to work on this issue. Please assign this issue to me.

[2022-03-04 11:27] vermaayush680 commented on #432
Hi @TylerTrott,
I can work on this issue as well.
But would like to know, where do you want the other icons to redirect to?
I believe all of them should redirect to the developer community page but would like to confirm before I get assigned.

[2022-03-04 11:29] vermaayush680 commented on #431
HI @TylerTrott,
I can work on this issue.
Can you assign it to me.

[2022-03-04 11:37] vermaayush680 commented on #426
Hi @TylerTrott,
I can fix this issue.
The problem is that the parent div is relative and it is affecting the icons.
Also, there is a lot of extra space after each image because of the unused margin in the featurette-divider.
If you can assign the issue to me, I can fix it.

[2022-03-04 14:25] geetika005 commented on #417
Please assign this issue to me

[2022-03-04 15:08] vardhinii commented on #426
Hey! @TylerTrott, I would like to work on this issue

[2022-03-04 15:57] vardhinii commented on #39
@TylerTrott Can you assign this issue to me

[2022-03-04 18:12] Rohitrout416 commented on #426
Hey I tried to fix the issue [here](https://github.com/atsign-foundation/atsign.dev/pull/438). Please check it.

[2022-03-04 22:17] TylerTrott commented on #428
@Swastyy has resolved this issue.

[2022-03-04 22:17] #428 closed

[2022-03-04 22:21] yahu1031 commented on #426
@vermaayush680 Has resolved this issue with PR #439

[2022-03-04 22:21] #426 closed

[2022-03-04 22:21] TylerTrott commented on #432
@vermaayush680 this is a good questions. We should have them link to relevant places within our site. We discuss infrastructure, privacy and rapid onboarding in the top three icons. We should be linking to relevant sources on the site for these. We used to have a Developer Highlight corner page but this was archived. I'd say link that to the community page as well. Thanks!

[2022-03-04 22:23] TylerTrott commented on #427
This issue has been resolved. Thank you for your contributions!

[2022-03-04 22:23] #427 closed

[2022-03-05 07:11] RakeshPotnuru commented on #295
Hi @TylerTrott
Is this issue resolved?

[2022-03-05 07:21] TylerTrott commented on #295
Hi there, yes this issue was resolved some time ago, but there is a similar raised issue that covers the migration to short code for every page if you’re interested!

[2022-03-05 07:21] #295 closed

[2022-03-05 07:31] RakeshPotnuru commented on #295
@TylerTrott
Yes, I am interested to work on that.

[2022-03-05 08:00] tamal78 commented on #415
hey @yahu1031 where's the archives folder .i am unable to find it. can you specify something here

[2022-03-05 08:13] yahu1031 commented on #415
[Here](https://github.com/atsign-foundation/atsign.dev/tree/f551da9466c928717e3d6da0f499cc74fd545d23/content/en/docs/Archives) there are.

[2022-03-05 11:20] hi-anusha commented on #432
"Hi, I am Anusha, a contributor to OpenForce 2022. I would like to work on this issue.Also please assign this issue to me. I cloned your repository and since there are many folders I would like to know which file or folder should I open to work on this issue? Thanks

[2022-03-05 11:43] hi-anusha commented on #418
Hi, I am Anusha, a contributor to OpenForce 2022. I would like to work on this issue. Also please assign this issue to me. I cloned your repository and since there are many folders I would like to know which file or folder should I open to work on this issue? Thanks

[2022-03-05 12:32] nikhilmaurya26 commented on #421
Hi @TylerTrott I guess I can work on this issue. As I have some transition ideas and we can correct some alignment of the text.
Along with that I am thinking that we can put a Button instead of the links which will look more attractive and eye pleasant.
Do you have any suggestion for me during the Development Environment Setup It would be great . Please let me know your thoughts on the process.

[2022-03-05 12:41] hi-anusha commented on #431
Hey, @TylerTrott I want to resolve this issue. Please assign me. I am a contributor of openforce'22.

[2022-03-05 12:42] hi-anusha commented on #417
Hey, @TylerTrott I want to resolve this issue. Please assign me. I am a contributor of openforce'22.

[2022-03-05 12:47] hi-anusha commented on #420
Hi, I am Anusha, a contributor to OpenForce 2022. I would like to work on this issue. Also please assign this issue to me. I cloned your repository and since there are many folders I would like to know which file or folder should I open to work on this issue? Thanks

[2022-03-05 12:50] hi-anusha commented on #416
Hi, I am Anusha, a contributor to OpenForce 2022. I would like to work on this issue. Also please assign this issue to me. I cloned your repository and since there are many folders I would like to know which file or folder should I open to work on this issue? Thanks

[2022-03-05 12:51] hi-anusha commented on #429
Hi, I am Anusha, a contributor to OpenForce 2022. I would like to work on this issue. Also please assign this issue to me. I cloned your repository and since there are many folders I would like to know which file or folder should I open to work on this issue? Thank you.

[2022-03-05 21:20] vermaayush680 commented on #429
Hey @TylerTrott
I would like to work on this, if it is available..

[2022-03-05 21:22] vermaayush680 commented on #421
Hi @TylerTrott
This seems like creative work so I would love to give it a try 😅

[2022-03-05 21:23] vermaayush680 commented on #420
Hi @TylerTrott
Since I have already worked on neav alignment and get started button,
I can work on this easily

[2022-03-06 00:23] Rohitrout416 commented on #420
Hey I tried to solve the issue [here](https://github.com/atsign-foundation/at_docsy/pull/43/commits). Hope it is right!

[2022-03-06 11:33] vermaayush680 commented on #435
Hi @TylerTrott can you assign it to me.
I have found the issue and would like to work on it.

[2022-03-06 14:47] SumitKanth commented on #420
Hii @TylerTrott I want to contribute to this issue, please assign me

[2022-03-06 14:56] SumitKanth commented on #429
hii @TylerTrott I want to work on this, please assign me

[2022-03-07 05:07] Bikramjit21 commented on #418
Hey, I want to work on this! Can anyone assign me?

[2022-03-07 05:23] Bikramjit21 commented on #435
Can anyone assign me?

[2022-03-07 06:37] Bikramjit21 commented on #430
I want to work on this issue. Please assign me.

[2022-03-07 06:41] Bikramjit21 commented on #39
I am interested working on this. Can anyone assign me?

[2022-03-07 07:22] jhanvi831 commented on #423
Hi @TylerTrott . I am Jhanvi, a contributor to OpenForce 2022. I would like to work on this issue as well.

[2022-03-07 13:46] Bikramjit21 commented on #423
Hey!  I want to work on this issue. Can anyone assign me?

[2022-03-07 16:39] vermaayush680 commented on #435
Hi @TylerTrott,
Fixed the Showcase footer issue.
Let me know if it's fine and I'll make a PR for it.
https://user-images.githubusercontent.com/42459801/157077485-9b19b7e5-3f42-4bef-8867-135eefb62e6c.mp4

Also here is the mobile view
https://user-images.githubusercontent.com/42459801/157078130-56f8688b-1103-476b-9d3b-34625024b254.mp4

[2022-03-07 17:12] #39 closed

[2022-03-09 18:09] #435 closed

[2022-03-10 13:55] yahu1031 opened #447 "showcase footer has white space at the edges."
**Describe the bug**
The showcase footer has white space to the horizontal edges.

**To Reproduce**
Steps to reproduce the behavior:
Head over to [devstating showcase](http://devstaging.atsign.wtf/showcase/)

**Expected behavior**
It must fill those white space

**Screenshots**
![image](https://user-images.githubusercontent.com/35523357/157675708-1338402e-2e9b-44d5-89e7-93522eeff31d.png)

**Smartp

[2022-03-10 14:44] SarveshLimaye commented on #447
@yahu1031  Hi, I am Sarvesh Limaye, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you!

[2022-03-10 17:33] #432 closed

[2022-03-10 18:31] vermaayush680 commented on #447
@yahu1031 can you assign me with this issue? I would love to work on it

[2022-03-12 07:31] Bazgha19 commented on #418
Hi, I am Bazgha, a contributor to OpenForce 2022. I would like to work on this issue. Can you please assign this issue to me.

[2022-03-20 03:21] nik132-eng commented on #431
if this issue is still open please assign me.

[2022-03-21 03:46] nik132-eng commented on #447
Hi, I am Nikunj Rohit, a contributor to OpenForce 2022. If this issue is still open I would like to work on this issue and try better to enhance it more. I would be making a PR as soon as I am done with resolving the issue. Thank you
@yahu1031

[2022-03-21 03:50] nik132-eng commented on #429
Hi, I am Nikunj Rohit, a contributor to OpenForce 2022. If this issue is still open I would like to work on this issue and try better to enhance it more. I would be making a PR as soon as I am done with resolving the issue. Thank you
@yahu1031

[2022-03-21 03:51] nik132-eng commented on #418
Hi, I am Nikunj Rohit, a contributor to OpenForce 2022. If this issue is still open I would like to work on this issue and try better to enhance it more. I would be making a PR as soon as I am done with resolving the issue. Thank you
@TylerTrott

[2022-03-21 03:52] nik132-eng commented on #417
Hi, I am Nikunj Rohit, a contributor to OpenForce 2022. If this issue is still open I would like to work on this issue and try better to enhance it more. I would be making a PR as soon as I am done with resolving the issue. Thank you
@TylerTrott

[2022-03-21 03:54] nik132-eng commented on #414
Hi, I am Nikunj Rohit, a contributor to OpenForce 2022. If this issue is still open I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you
@TylerTrott

[2022-03-23 05:10] anthonyvprakash commented on #407
All planning is complete and everything is set. Will be completed this weekend.

[2022-03-23 05:10] #407 closed

[2022-03-23 05:11] anthonyvprakash commented on #398
All activities completed.

[2022-03-23 05:11] #398 closed

[2022-03-23 05:12] #388 closed

[2022-03-23 05:13] #402 closed

[2022-03-23 05:13] #403 closed

[2022-03-23 11:58] nik132-eng commented on #429
@yahu1031 if the issue is already solved so please don't assign it to other persons.
![image](https://user-images.githubusercontent.com/77881638/159693978-9581ec5a-a060-42e7-bacb-3608a71ea782.png)

[2022-03-23 11:59] yahu1031 commented on #429
Lemme check and update the ticket

[2022-03-23 12:02] yahu1031 commented on #429
yeah, fixed 😄  thanks for letting us know. Please mention the PR for the fix

[2022-03-23 12:11] vermaayush680 commented on #447
@yahu1031 I believe #448 fixes this issue

[2022-03-23 12:55] anthonyvprakash opened #456 "April-May @sign Campaigns (Placeholder)"

[2022-03-23 15:58] nik132-eng commented on #447
@vermaayush680  are you sure ?? Because I am completely new and learning these things how to solve bugs and all.

[2022-03-24 04:29] #390 closed

[2022-03-24 04:58] anthonyvprakash opened #458 "IoT Focus : System Integrators"

[2022-03-24 04:59] anthonyvprakash opened #459 "IoT Focus : Platforms"

[2022-03-24 04:59] anthonyvprakash opened #460 "IoT Focus : Automotive"

[2022-03-24 04:59] anthonyvprakash opened #461 "IoT Focus : Innovation Labs"

[2022-03-24 15:06] hakeemawbrey commented on #400
Update as of March 24, 2022

2 twitter spaces done so far in March. 3rd one is happening on Friday march 25 with Flutter GDEs and @Jatinpandya26 @Shubhangi0304

[2022-03-24 15:16] hakeemawbrey commented on #422
Did not have time to work on this sprint on creating new content. However did brainstorm with @TylerTrott & @XavierChanth about what issues with videos and the gaps into our education

Next steps

- [ ] create a roll out plan
- [ ] block weekly times dedicated to record and produce videos
- [ ] Edit Flutter SV into respective clips @TylerTrott

[2022-03-24 15:41] hakeemawbrey commented on #404
Worked with curtly to create branding, colors, fun designs for dude app. Going to work with him to create more designs and figure out implementation.

[2022-03-24 16:14] Intiserahmed commented on #341
Instead of the whole Core SDK Documentation that we did,  We will work to create documentation on [these](https://atsign.dev/docs/get-started/understand-the-platform/namespaces/#:~:text=Try%20the%20%40platform-,Understand%20the%20%40platform,-Namespace) four point.

[2022-04-04 15:51] anthonyvprakash commented on #404
@TylerTrott  - is anything pending on the app to make it available for open sourcing?

[2022-04-04 15:51] anthonyvprakash commented on #401
All activities complete. Great job team!

[2022-04-04 15:51] #401 closed

[2022-04-04 16:00] anthonyvprakash commented on #413
Discussed with the team and we will be working on the campaigns in this sheet : https://docs.google.com/spreadsheets/d/1C7P9uakSId9tuynZCHw72nrnVKBx1q-di3qer8T55Xo/edit#gid=0

We will try to get a min of 10 K atsigns but as many as possible.

[2022-04-04 21:09] TylerTrott commented on #404
@anthonyvprakash I think we're good to go. I just merged Chris' PR. One thing I would like to integrate is a ResetKeychain() function so that an AtSign is not stuck on the onboarding screen.

@yahu1031 || @CurtlyCritchlow do you have availability for this integration?

[2022-04-04 22:02] yahu1031 commented on #404
@TylerTrott what do you mean by...

?

[2022-04-04 22:18] TylerTrott commented on #404
So when I onboard as an atsign, my keychain is corrupted as I logged in a while back but because we do not have an option to reset the keychain, I am no longer able to authenticate with my keys. Because I have logged in before, it automatically on-boards my previously authenticated atsign but the atsign is null. The only solution (on iOS) is to integrate the resetKeychain() func. Make sense?

[2022-04-06 02:45] CurtlyCritchlow commented on #404
Reset at-sign button added to the first screen, make a pull request from the @dude repo.

We're not ready for open sourcing as yet because the sync not working and the notification feature not implemented as yet. @kalluriramkumar said once monitor connection working the sync should be automatic. I'm trying to meet with him to debug the sync issue.

[2022-04-06 08:31] yahu1031 commented on #404
@TylerTrott @CurtlyCritchlow I know a fix for this keychain thing. But must be handled from the app level.

![image](https://user-images.githubusercontent.com/35523357/161931342-7f989ce0-bd05-422d-a494-dc648531abb3.png)

[2022-04-06 21:45] anthonyvprakash opened #462 "IoMT Pitch Deck : Competitor Analysis"
- [ ] Industry analysis of current players in the IoMT
- [ ] T@C Positioning amongst the competition

[2022-04-06 21:45] anthonyvprakash opened #463 "IoMT Pitch Deck : 1 Pager on T@C Value Prop"
[Pitch deck](https://docs.google.com/presentation/d/1LJWN55BwP-2FpSYGk4ToHpwB8Mkmmco-O6EQ1IQnB14/edit#slide=id.g12146f11a25_0_0)

- [x] 1-2 pager on what we do in the IoMT space
- [x] The challenge, the solution and our value prop

[2022-04-06 23:00] tinashe404 opened #464 "IoMT Pitch Deck : Clinical Trial/PRO Research"

[2022-04-07 04:27] hakeemawbrey commented on #422
Update as of April 6th

Have no had bandwidth to work on this project with @TylerTrott & @XavierChanth with everything going on plus school.

Need to pick this up and work with content team to make it easy to balance with other campaign projects.

Optimize this so when the interns join it is easy for them to help with tutorials

[2022-04-07 15:10] #424 closed

[2022-04-07 15:15] anthonyvprakash opened #465 "IoMT Pitch Deck : Market Data and Research"
[Pitch deck](https://docs.google.com/presentation/d/1LJWN55BwP-2FpSYGk4ToHpwB8Mkmmco-O6EQ1IQnB14/edit#slide=id.g12146f11a25_0_0)

- [ ] Reach out to equity analyst folks - Colin
- [x] Reach out to Mayo Clinic - Denise
- [x] Berkeley Labs (data science research, privacy orgs) - Sahil
- [ ] Decentralized Clinical Trials/ Patient Reported Outcomes/Chronic Condition Management - Tina

[2022-04-07 15:22] anthonyvprakash opened #466 "IoMT Pitch Deck : Target Markets Data"
Pitch Deck [link]( https://docs.google.com/presentation/d/1LJWN55BwP-2FpSYGk4ToHpwB8Mkmmco-O6EQ1IQnB14/edit#slide=id.g114c779c41c_0_62)

**Slide 6:**

Find data about target markets over time

-all people, all devices, and their data
- 2030
- We will be protecting everyone and everything

[2022-04-07 15:22] anthonyvprakash opened #467 "IoMT Pitch Deck : Success Stories"

[2022-04-07 15:23] anthonyvprakash opened #468 "IoMT Pitch Deck : Implementation"
[Pitch deck](https://docs.google.com/presentation/d/1LJWN55BwP-2FpSYGk4ToHpwB8Mkmmco-O6EQ1IQnB14/edit#slide=id.g12146f11a25_0_0)

Have OBS story right before this one - in days they were able to create a POC - show how they were able to do that

[2022-04-07 15:23] anthonyvprakash opened #469 "IoMT Pitch Deck : Business Model"
[Pitch deck](https://docs.google.com/presentation/d/1LJWN55BwP-2FpSYGk4ToHpwB8Mkmmco-O6EQ1IQnB14/edit#slide=id.g12146f11a25_0_0)

[2022-04-07 15:23] anthonyvprakash opened #470 "IoMT Pitch Deck : Support Slides & Activities"
[Pitch deck](https://docs.google.com/presentation/d/1LJWN55BwP-2FpSYGk4ToHpwB8Mkmmco-O6EQ1IQnB14/edit#slide=id.g12146f11a25_0_0)

- [ ] Customer Journey
- [ ] Competition - @anthonyvprakash
- [ ] Financial Projections - Jack
- [x] Team - @rtilney
- [ ] Timeline of accomplishments - @jenmonroe [Draft here](https://docs.google.com/document/d/1ugrROvOFbeNMRdttK_3AMrWwAFKlF9ABT91BloN934U/edit)

[2022-04-07 15:52] tinashe404 commented on #464
duplicate..

[2022-04-07 15:52] #464 closed

[2022-04-07 16:01] atsigndenise commented on #462
I can help out by identifying the leading analyst/research organizations in which to distill market research. For example, Mayo Clinic has a analyst division and possibly the Omdia group, who attended the Embedded IoT conference.  Will scout it out.

[2022-04-07 16:04] anthonyvprakash commented on #467
This is a duplicate ticket

[2022-04-07 16:04] #467 closed

[2022-04-07 16:10] #413 closed

[2022-04-14 16:41] ksanty commented on #341
@Intiserahmed what is your recommendation to complete this?  I know you will be taking leave soon.  What is left to do on this issue?  Thanks!

[2022-04-18 05:11] VJag commented on #341
I believe a lot of documentation that many of us produced in the past is available in various folders in the shared drive.

For example:

architecture folder (https://drive.google.com/drive/u/1/folders/1md4LK-fxITBsCfDOMkIFhIE_ae5cJKYh)
documentation folder(https://drive.google.com/drive/u/1/folders/1O9bVrGwfgwsAxQU75IDMvuLXCGDoRh2q)

Can we take a day or two and index these documents and tag them

[2022-04-19 14:45] Intiserahmed commented on #341
@ksanty I will gatther and collect all the information from the previous sources. As I didn't know some of the similar document exist  , I will try to gather them in one place. I will try to finish this by this week. Thank you.

[2022-04-20 13:34] cpswan commented on #458
Reached out to DXC contact, he's agreed to talk when he returns from Easter vacation (next week)

[2022-04-20 22:20] anthonyvprakash opened #471 "@mosphere Pro Public Launch"
Repurposing the Engifest ticket for the AtPro Launch

- [x] Get Ok via decision log to move forward
- [x] Prep all external-facing content on AtPro
- [x] Banners (draft of ideas [here](https://docs.google.com/document/d/1KgG4TJAeE6EeYRGRSvfmMlylrGeB9gq59_Ut-320Gnk/edit)
- [x] Tracking and monitoring downloads and activation - ongoing
- [x] Post AtPro on Product Hunt
- [x] Launch Tuesday 5/10/22

[2022-04-20 22:25] anthonyvprakash commented on #463
IoMT version is still to be completed. IoT 2 pager is available now.

[2022-04-20 22:57] atsigndenise commented on #459
Hello Anthony, Colin, Kevin, Barbara and Kim -- I have made some progress in that I reached out to both Henna and Edna Conway about into to Azure IoT Hub -- leading with a specialization in health/medical/hipaa compliance.  I have not heard back from Edna.  Colin -- Any news with AWS?  I have not reached out to Oracle as they are going to market with IoT of Manufacturing.  Don has some interesting

[2022-04-21 14:34] hakeemawbrey commented on #466
"“Number of Connected IoT Devices Will Surge from 27 billion in 2017 to 125 Billion by 2030, IHS Markit Says"
https://news.ihsmarkit.com/prviewer/release_only/slug/number-connected-iot-devices-will-surge-125-billion-2030-ihs-markit-says

still only finding research on connect IoT devices. Still need to do more research on people in 2030 to combine with things.

[2022-04-21 14:35] hakeemawbrey commented on #364
Spacechat article is now live on Flutter community medium : https://medium.com/flutter-community/spacechat-students-building-for-social-privacy-on-flutter-183b1346cb82

Spacechat videos are now back from fiverr editor and waiting to review.

[2022-04-21 15:22] xavierchanth commented on #341
Taking over for Intiser in PR35.

[2022-05-03 15:09] anthonyvprakash opened #472 "atsign.dev Revamp"

[2022-05-03 15:11] anthonyvprakash commented on #472
-

[2022-05-03 15:21] #463 closed

[2022-05-04 14:52] Jatinpandya26 opened #473 "India Flutter Devs/GDE Talks and Core Feedback"

[2022-05-05 15:17] xavierchanth commented on #472
This is a capacity placeholder while we determine the work that will be going into this project.

[2022-05-05 15:59] anthonyvprakash opened #474 "Identify New tool for Marketing"
Compare Marketing tools and find the best fit to the company

Ideas:

- [ ] [Notion](https://www.notion.so/feeb44f055de48ee9f6eaac42d434c00?v=97bc62da8411465ab041980aa2f0d394)
- [ ] [ClickUp](https://app.clickup.com/36193054/v/l/4-60119912-1)
  - [x] Pre-lim call scheduled with sales rep 5/20
  - [x] Demo of tool 6/1 - recording [here](https://drive.google.com/drive/folders/1J8SzJFdvMrhpAD9o622c07

[2022-05-18 20:52] atsigndenise commented on #459
Team -- Should we backlog this project, perhaps putting more focus on outreach to system integrators?  Thanks, Denise

[2022-05-18 22:07] atsigndenise opened #477 "Externship: BIRLA INSTITUTE OF TECHNOLOGY & SCIENCE"
ShrisInfo Tech has secured 20 interns from BIRLA.  The project is called BITS. The interns will work on open source projects starting Monday May 30 through Friday, July 22nd.

Four projects:
@client in C
ML/AI photo to atsign
Polymorphic applications
IoT health devicces, Fitbit, Priv@te Fit

- [x] Kick off and planning session
- [x] Develop [Project Ideas ](https://docs.google.com/document/d/1_hgE

[2022-05-19 04:33] anthonyvprakash opened #478 "StarHub IoT Security Pursuit"

[2022-05-19 04:33] anthonyvprakash opened #479 "Dr.Oliver - BD Activities"

[2022-05-19 04:33] anthonyvprakash opened #480 "GE HealthCare IoMT Privacy"

[2022-05-19 04:33] anthonyvprakash opened #481 "GOAL: 32K @signs Traction : June-July"
- [x] Goal for June-July?
- [x] Brainstorming and Planning session with the Traction team on how to meet our goals for June/July
- [x] Agree on partnerships/campaigns/events
- [ ] Contracts/agreements

**Contributing Projects**
- [ ] https://github.com/atsign-foundation/marketing/issues/258
- [ ] https://github.com/atsign-foundation/events/issues/49 : Ongoing

[2022-05-19 04:37] anthonyvprakash commented on #480
- [x] Meeting complete with GE Healthcare. Have followed up. Waiting on next steps.

[2022-05-19 04:46] anthonyvprakash opened #482 "Flutter SV May Event - May 25"
- [x] Host and execute the event on May 25
- [x] F & B Logistics for the event
- [x] Plan for networking/learnings from last time
- [x] Recording and publishing on YT

[2022-05-19 14:13] athandle opened #483 "Minor content format change"
https://atsign.dev/docs/packages/_print/

Ordered and unordered list together. We should use only 1
![image](https://user-images.githubusercontent.com/61007675/169314746-1bc408db-0fb1-4e62-9fb1-2cfa25bbc1f7.png)

[2022-05-19 15:52] anthonyvprakash opened #484 "RSA Conference 2022"
https://www.rsaconference.com/usa

- [x] Decide if some of us in the Bay will attend?
- [x] [Decision log](https://docs.google.com/document/d/1e745v2Nvmta2PcSos6iP3PW01dAhViOXjkHQnx1Ruvo/edit) developed and approved
- [x] If yes, any material we need ?

[2022-05-24 14:57] ksanty commented on #478
**5/23 Design Session**
Starhub goals:
- Integrated solution
- Present to customer on 6/10
- Understand pricing | support model

**Our Deliverables:**
- [ ] Atsign solution for customer tender 6/10 (@murali-shris and @Jatinpandya26 meet with Shyan - sp?)
  - [ ] Video demo solution @cconstab will create (can also use for GE)
  - [ ] Architecture update diagram
- [ ] Review / finalize agreement
- [

[2022-05-31 13:48] gkc commented on #478
We have a customer commitment with hard deadline here of June 10, with interim deadlines also. Do we have an overall owner / delivery manager for this project? I'm happy to help but I don't have the background and it's not obvious to me from the deck what the solution is, for which we need to have a prototype ready for presentation to customer on June 10

Also - this is a public github repo. I don

[2022-05-31 14:34] ksanty commented on #478
@gkc sure, we can move to a private repo.  I know the marketing repo is private.  Between @anthonyvprakash and myself, we are managing the deliverables.

[2022-06-01 22:26] atsigndenise commented on #459
Moving this card to the backlog until we have a specific project.

[2022-06-02 03:09] hakeemawbrey commented on #471
We launched @mospherepro - need to do a retrospect and find out where downloads came from and how many active people are their.

Launched on
- Product hunt
- HTL
- Discord
- Twitter

[2022-06-02 03:13] hakeemawbrey commented on #400
Update as of June 1
- next big twitter space will be about 3 years of atsign and the name change.

[2022-06-02 03:14] hakeemawbrey commented on #482
Videos are done https://www.youtube.com/playlist?list=PLkfwWUPYyMF3TUNlto7iApmns8XOdLAog

all thats left is the write up of post event

[2022-06-02 05:22] anthonyvprakash commented on #484
Need to decide on a 2 pager that we will use the event.

[2022-06-02 05:24] anthonyvprakash commented on #479
Have received the proposal from dierks and company. Decision log in place.

Also need to decide as a company if Dr.Oliver could be used as an advisor. Discussions in progress.

[2022-06-02 05:25] anthonyvprakash commented on #480
Meeting complete with GE Healthcare. Have followed up. Waiting on next steps.

[2022-06-02 05:25] anthonyvprakash commented on #482
Write up to be posted by @thenobleone14

[2022-06-02 05:25] #482 closed

[2022-06-02 05:27] anthonyvprakash commented on #481
32K atsigns has been decided as the goal for June-July

Initial ideas in place for campaigns - we need partnerships and execute them.

[2022-06-02 05:28] anthonyvprakash commented on #471
No further action needed here.

[2022-06-02 05:28] #471 closed

[2022-06-02 14:04] ghost commented on #473
Pause for now - will connect to more after the open-source community project on Twitter.

[2022-06-05 11:08] HimanQA opened #486 "[Atsigndev] Multiple issues are observed in atsign dev website"
Description: [Atsigndev] Multiple issues are observed in atsign dev website

List of bugs mentioned in below Google doc:
https://docs.google.com/document/d/1UosRe_eL1FlX9YQPkUNN_2PeVz-AsmDqGObD4nEj7I0/edit

[2022-06-15 19:00] jenmonroe commented on #474
We're working in ClickUp but not everyone is happy with it. Planning to demo Notion next. Met with Opal, but not doing a trial as the cost is very high (over $12,000 per year).

[2022-06-16 04:38] anthonyvprakash opened #490 "Flutter Dev Traction Activities"

[2022-06-16 04:38] anthonyvprakash opened #491 "GTU App"

[2022-06-16 22:51] #466 closed

[2022-06-16 22:52] #469 closed

[2022-06-16 22:52] #468 closed

[2022-06-16 22:52] #462 closed

[2022-06-16 22:52] #470 closed

[2022-06-16 22:52] #465 closed

[2022-06-22 20:43] anthonyvprakash commented on #491
June 22 - @CurtlyCritchlow  and @tinashe404  had a call with the GTU to kick off the project and put together a plan for capturing the needs of the app.

Notes
-----------
they send us the forms they use.. we talk to a few more people.. we put together a form to get responses form 10 or so teachers

then we create a "how they do things now" diagram

get that confirmed

and then put together a "how

[2022-06-22 20:45] anthonyvprakash commented on #490
Dev Advocate Program - reached out to the potential candidates to set discussions on the program

[2022-06-22 20:46] anthonyvprakash commented on #479
Dr. Oliver has been signed as an advisor - to start officially on June 27

[2022-07-05 16:05] hakeemawbrey commented on #400
Update July 5th

We will pilot an IoT twitter space this week or next once we find the right topic or guests.

[2022-07-25 15:52] cpswan commented on #341
@XavierChanth is this overtaken by events with the work on devsite 3, and if so can it be closed?

[2022-07-26 08:36] xavierchanth commented on #341
Yes, it is replaced by: [atsign.dev-3.0#16](https://github.com/atsign-foundation/atsign.dev-3.0/issues/16)

[2022-07-26 08:36] #341 closed

[2022-07-26 19:20] #481 closed

[2022-07-26 19:24] #477 closed

[2022-07-29 18:41] #406 closed

[2022-07-29 19:17] jenmonroe commented on #474
We had a late entry that appears to be the winner! [Google Tables](https://tables.area120.google.com/u/1/workspace/90xI9skmK2Edr1H8vNH4_K/table/9mWrUfyWMHmdgi-STZy_JG)

[2022-07-29 19:17] #474 closed

[2022-07-29 19:31] #89 closed

[2022-08-09 23:27] allstar-app[bot] opened #496 "Security Policy violation Branch Protection"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Dismiss stale reviews not configured for branch trunk

---

This issue will auto resolve when the policy is in compliance.

Issue created by Allstar. See https://github.com/ossf/allstar/ for more information. For questions specific to the repository, please contact the owner or mai

[2022-08-10 08:16] cpswan commented on #496
Branch protection has been updated. Allstar should clear this on the next run.

[2022-08-11 08:16] #496 closed

[2022-08-12 00:06] ChristopherJTrent opened #497 "Website on linux creates malware like behavior"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. First I created an atsign on the site
2. Then I went through verification with your stupid "drag your atsign into the bag" trashcode
3. And then my mouse never got released by your code, including after I closed the tab.
4.

**Expected behavior**
that my mouse wouldn't be

[2022-08-12 00:14] ghost commented on #497
Behavior persists through reboot.
This is a priority 1 issue that must be fixed ASAP.

[2022-08-12 02:15] cconstab commented on #497
Christopher,

 Thanks for the bug report. I have confirmed personally that the "bag" is working on other OS/Browser combinations. I do not have an Arch build as yet to test against, but we will test that combo for you and report back to you.

 The bag drop is a Human check, and the aim was to be a little less annoying than boring Captcha traffic light stuff, but seems it is causing issues for you.

[2022-08-16 21:32] cconstab commented on #497
@ChristopherJTrent we have tried to reproduce your issue but have failed thus far.. We are testing with X11 and Firefox latest. Are you using Wayland or another WM ?

Arch X11/KDE
Firefox 103.0.2-1

[2022-08-23 18:29] hakeemawbrey commented on #422
new card already and google tables

[2022-08-23 18:29] #422 closed